
.landingpageimg{
    background-image: url("../../assets/landingpageimg.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height:100vh;
}

.parallax {
  /* The image used */
  background-image: url("../../assets/landingpageimg.png");
  /* Set a specific height */
  min-height: 500px; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.HomeBg1 {
    width: 100%;
    /* height: 283vh; */
    margin-top: -30.5%;
    height: 100%;
}
.HomeBg2 {
    width: 100%;
    /* height: 283vh; */
    margin-top: -63%;
    height: 100%;
}
.HomeBg3 {
    width: 100%;
    /* height: 283vh; */
    /* margin-top: -30.5%; */
    height: 100%;
        margin-bottom: -10%;
}

.Homebg2div1 {
    float: left;
    position: absolute;
    left: 26%;
    top: 122%;
    z-index: 1000;
    background-color: white;
    padding: 5px;
    color: #FFFFFF;
    font-weight: 500;
    width: 300px;
    height: 400px;
    transition: left 1s, width 1s;
    text-align: right;
    font-family: var(--PlayfairFont) !important;
    font-size: 20px;
    
}

.Homebg2div4 {
    display: none;
    float: left;
    position: absolute;
    left: 26%;
    top: 122%;
    z-index: 1000;
    background-color: white;
    padding: 5px;
    color: #FFFFFF;
    font-weight: 500;
    width: 300px;
    height: 400px;
    transition:  width 2s, height 4s;
    transition-delay: 1s;
    text-align: right;
    font-family: var(--PlayfairFont) !important;
    font-size: 20px;
    box-shadow: 0px 2px 15px 4px #e2dddd;
       
}

 .mainDivTransitionleft:hover  .Homebg2div1  {
     /* width: 500px; */    
     /* display: none;  */
     animation: fadeout 1s ease-out;    
  
    }

    .mainDivTransitionleft:hover  .Homebg2div4{
     
    display: block;
    animation: fadeinLeft 1s ease-in;  
    width: 430px;    
     height: 500px; 
    left: 15.6%;
    
    }

     @keyframes fadeinLeft {
         0% {opacity: 0;  }
        100% {opacity: 1;  width: 430px;    
     height: 500px;}
    }


.Homebg2div2 {
    float: left;
    position: absolute;
    left: 53%;
    top: 122%;
    z-index: 1000;
    background-color: white;
    padding: 5px;
    color: #FFFFFF;
    font-weight: 500;
    width: 300px;
    height: 400px;
    /* transition: width 1s; */
       font-family: var(--PlayfairFont) !important;
       font-size: 20px;
       display: block;
}

.Homebg2div3 {
    display: none;
    float: left;
    position: absolute;
    left: 53%;
    top: 122%;
    z-index: 1000;
    background-color:white;
    padding: 5px;
    color: #FFFFFF;
    font-weight: 500;
     width: 300px;
    height: 400px;
    transition: width 1s ;
    transition-delay: 1s;
    font-family: var(--PlayfairFont) !important;
    font-size: 20px;
    box-shadow: 0px 2px 15px 4px #e2dddd;
}
.mainDivTransitionright:hover  .Homebg2div3{
     /* width: 500px; */    
    display: block;
    animation: fadein 1s ease-in;
      width: 430px;
      height: 500px;  

    }
     .mainDivTransitionright:hover  .Homebg2div2  {
     /* width: 500px; */    
     /* display: none;  */
     animation: fadeout 1s ease-out;    
  
    }
    @keyframes fadein {
        0% {opacity: 0;   }
        100% {opacity: 1;     width: 430px;    height: 500px;}
    }

    @keyframes fadeout {
        0% {opacity: 1;     }
        100% {opacity: 0;     }
    }


    
.Homebg2div2 p{
    margin: 0px 0 0px;
}

.Homebg2div1 p{
    margin: 0px 0 0px;
}

.textline1{
    font-family: var(--PlayfairFont);
    font-size: 25px;
    font-weight: normal;
}

.textline2 {
        width: 330px;
    line-height: 18px;
    font-family: var(--LatoFont);
    font-size: 14px;
}

.textline3{
        font-size: 14px;
    font-family: var(--LatoFont);
    margin-top: 45px;
}

.textline4{
        font-size: 14px;
    font-family: var(--LatoFont);
 color:black;
 margin-top: 30px;
}

.carousaltext1{
    font-size: 16px;
    font-weight: 100;
}

.carousaltext2{
font-size: xx-large;
    font-weight: 100;
    font-family: var(--PlayfairFont);
    margin-left: 20px;
}

.carousaltext3{
    margin-left: 20px;
    font-weight: 100;
    line-height: 20px;
    margin-top: 20px;
}



.margin30{
    margin-top: 30px;
}

.artistunHover {
    background-image: url("../../assets/Artisanself\ combined\ layers.png");  
    background-size: 100% 100%;
}

.artistHover {
    background-image: url("../../assets/Self\ Design\ hovered\ backdrop\ combined.png"); 
    height: 300px;
    width: 103%;
    padding: 15px;
margin: -6px;
background-size: 100% 100%;
   
}

.coHover {
    background-image: url("../../assets/Co\ Design\ -\ hovered\ Expansion.png");  
    height: 300px;
    width: 103%;
    padding: 15px;
margin: -6px;
background-size: 100% 100%;
}

.counHover {
    background-image: url("../../assets/co\ design\ combined.png");  
    background-position: 4% 3%;
    /* background-size: 100% 100%; */
}

.carousalbg {
     background-image: url("../../assets/Brocades\ -\ carousel\ cover\ shadow.png");  
     width: 40%;
     float: left;
     height: 100%;
     background-size: 170% 100%;
         background-position: 35% 50%;
         font-family: var(--LatoFont);
    padding: 10px;

}
.carousalbg2{
    background-image: url("../../assets/Coromandel\ art\ set\ -\ middle\ layer.png");  
     width: 60%;
     float: right;
     height: 100%;
     background-size: 103% 106%;
         background-position: 35% 50%;
}
.carousal{
/* background-color: white; */
    width: 900px;
    height: 200px;
    margin-left: 8%;
    margin-top: 10%;
}
.hrline{
    margin-top: 50px;   
   border: 0;
    border-top: 1px solid #ccc;
    width: 80%;
    float: right;
}

.hrlineLeft{
    margin-top: 50px;   
   border: 0;
    border-top: 1px solid #ccc;
    width: 80%;
    float: left;
}
   

.maincontainer{
background-color: black;
}

.internaldiv{
    background-color: white;
}

.text1 {
    font-family: var(--LatoFont);
    font-size: 16px;
    font-weight: 600;
}

.homeDivmain {
    float: left;
    position: absolute;
    left: 10%;
    top: 15%;
    color: white;
    z-index: 1000;
    font-family: var(--PlayfairFont);
}

.quote{
    width: 20px;
    margin-top: 20px;
}

@media only screen and ( max-width: 480px ) {
   
}
@media only screen and ( max-width: 767px ) and ( min-width: 481px ){
   
}
@media only screen and ( max-width: 990px ) and ( min-width: 768px ){
}
@media only screen and ( max-width: 1200px ) and ( min-width: 991px ){
}

