
.landingpageimg{
    background-image: url("../../assets/landingpageimg.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height:100vh;
}

.parallax {
  /* The image used */
  background-image: url("../../assets/landingpageimg.png");
  /* Set a specific height */
  min-height: 500px; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.HomeBg1 {
    width: 100%;
    /* height: 283vh; */
    margin-top: -30.5%;
    height: 100%;
}
.HomeBg2 {
    width: 100%;
    /* height: 283vh; */
    margin-top: -63%;
    height: 100%;
}
.HomeBg3 {
    width: 100%;
    /* height: 283vh; */
    /* margin-top: -30.5%; */
    height: 100%;
        /* margin-bottom: -10%; */
}

.Homebg2div1 {
    float: left;
    position: absolute;
    left: 48%;
    /* top: 122%; */
    z-index: 100;
    /* background-color: white; */
    padding: 15px 30px;
    color: #FFFFFF;
    font-weight: 500;
    width: 300px;
    height: 400px;
    transition: left 1s, width 1s;
    text-align: right;
    font-family: var(--PlayfairFont) !important;
    font-size: 20px;
    
}

.Homebg2div4 {
    display: none;
    float: left;
    position: absolute;
    left: 48%;
    /* top: 122%; */
    z-index: 100;
    background-color: white;
    padding: 5px;
    color: #FFFFFF;
    font-weight: 500;
    width: 300px;
    height: 400px;
    transition:  width 2s, height 4s;
    transition-delay: 1s;
    text-align: right;
    font-family: var(--PlayfairFont) !important;
    font-size: 20px;
    box-shadow: 0px 2px 15px 4px #e2dddd;
       
}

 .mainDivTransitionleft:hover  .Homebg2div1  {
     /* width: 500px; */    
     /* display: none;  */
     animation: fadeout 0s ease-out;    
  
    }

    .mainDivTransitionleft:hover  .Homebg2div4{
     
        display: block;
        animation: fadeinLeft 1s ease-in;
        width: 450px;
        height: 400px;
        left: 23.4%;
    
    }

     @keyframes fadeinLeft {
         0% {opacity: 0;  }
        100% {opacity: 1;  width: 450px;    
     height: 400px;}
    }


.Homebg2div2 {
    float: left;
    position: absolute;
    /* left: 53%; */
    /* top: 122%; */
    z-index: 100;
    background-color: white;
    /* padding: 5px; */
    color: #FFFFFF;
    font-weight: 500;
    width: 300px;
    height: 400px;
    /* transition: width 1s; */
    font-family: var(--PlayfairFont) !important;
    font-size: 20px;
    display: block;
    padding: 15px 25px;
}

.Homebg2div3 {
    display: none;
    float: left;
    position: absolute;
    /* left: 53%; */
    /* top: 122%; */
    z-index: 100;
    background-color:white;
    padding: 5px;
    color: #FFFFFF;
    font-weight: 500;
     width: 300px;
    height: 400px;
    transition: width 1s ;
    transition-delay: 1s;
    font-family: var(--PlayfairFont) !important;
    font-size: 20px;
    box-shadow: 0px 2px 15px 4px #e2dddd;
}
.mainDivTransitionright:hover  .Homebg2div3{
     /* width: 500px; */    
    display: block;
    animation: fadein 1s ease-in;
      width: 430px;
      height: 400px;  

    }
     .mainDivTransitionright:hover  .Homebg2div2  {
     /* width: 500px; */    
     /* display: none;  */
     animation: fadeout 1s ease-out;    
  
    }
    @keyframes fadein {
        0% {opacity: 0;   }
        100% {opacity: 1;     width: 430px;    height: 400px;}
    }

    @keyframes fadeout {
        0% {opacity: 1;     }
        100% {opacity: 0;     }
    }


    
.Homebg2div2 p{
    margin: 0px 0 0px;
}

.Homebg2div1 p{
    margin: 0px 0 0px;
}

.textline1{
    font-family: var(--PlayfairFont);
    font-size: 25px;
    font-weight: normal;
}

.textline2 {
        width: 330px;
    line-height: 18px;
    font-family: var(--LatoFont);
    font-size: 14px;
    font-weight: 100;
}

.textline3{
        font-size: 14px;
    font-family: var(--LatoFont);
    margin-top: 30px;
}

.textline4{
        font-size: 14px;
    font-family: var(--LatoFont);
 color:black;
 margin-top: 15px;
}

.reviewtext{
    font-family: var(--PlayfairFont);
    /* font-style: italic; */
    font-size: 16px;
    font-weight: 500;
}

.aboutTextQuote {
    margin-top: 40px;
    font-style: italic;
}

.carousaltext1{
    font-size: 16px;
    font-weight: bold;
}

.carousaltext2{
font-size: xx-large;
    font-weight: 100;
    font-family: var(--PlayfairFont);
    margin-left: 20px;
}

.carousaltext31{
    margin-left: 20px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 20px;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    color: #adadad;
}

.carousaltext32 {
    margin-left: 20px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 7rem;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    color: #adadad;
}

.carousaltext33 {
    margin-left: 20px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 14rem;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    color: #adadad;
}

.margin30{
    margin-top: 30px;
}

.artistunHover {
    /* background-image: url("../../assets/Artisanself\ combined\ layers.png");   */
    background-size: cover;
    background-repeat: no-repeat;
}

.artistHover {
    /* background-image: url("../../assets/Self\ Design\ hovered\ backdrop\ combined.png");  */
    height: 275px;
    width: 103%;
    padding: 15px;
margin: -6px;
background-size: 100% 100%;
   
}

.coHover {
    /* background-image: url("../../assets/Co\ Design\ -\ hovered\ Expansion.png");   */
    height: 275px;
    width: 103%;
    padding: 15px;
margin: -6px;
background-size: 100% 100%;
}

.counHover {
    /* background-image: url("../../assets/co\ design\ combined.png");   */
    background-size: 105% 105%;
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
}

.carousalbg {
     background-size: 170% 100%;
     background-position: 35% 50%;
     font-family: var(--LatoFont);
     padding: 10px 80px;
     margin-top: 190px;
     position: relative;
}

 .topmarginHome{
     margin-top: 370px;
 }
.carousalbg2{
    /* background-image: url("../../assets/Coromandel\ art\ set\ -\ middle\ layer.png");   */
    width: 55%;
    float: right;
    height: 100%;
    background-size: 103% 106%;
    background-position: 35% 50%;
}
.carousal{
/* background-color: white; */
    /* width: 75%; */
    height: 200px;
    /* margin-left: 8%; */
    margin-top: 6%;
}
.hrline1{
    margin-top: 30px;   
   border: 0;
    border-top: 1px solid #ccc;
    width: 80%;
    float: right;
}

.hrlineLeft{
    margin-top: 30px;   
   border: 0;
    border-top: 1px solid #ccc;
    width: 80%;
    float: left;
}

.exploremore {    
   position: absolute;
    /* right: -2px; */
    font-size: 15px;
    background: #ffffff;
    color: black;
    font-family: var(--LatoFont);
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    left: 35%;
    right: 35%;
    width: fit-content;
    margin-top: 100px;


}

.exploremoreLeft {    
    position: absolute;
    /* left: -2px; */
    font-size: 15px;
    background: #ffffff;
    color: black;
    font-family: var(--LatoFont);
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    left: 35%;
    right: 35%;
    width: fit-content;
    margin-top: 100px;

}
   

.maincontainer{
background-color: black;
}

.internaldiv{
    background-color: white;
}

.text1 {
   margin-bottom: 5px;
   font-family: var(--PlayfairFont);
    font-size: 20px;
    font-weight: 600;
}

.homeDivmain {
   /* background-image: url("../../assets/Backround1Home\ .png");   */
    /* float: left;
    position: absolute; */
    /* left: 10%;
    top: 15%; */
   color: white;
    z-index: 100;
    height: 1060px;
    /* margin-top: -347px; */
    font-family: var(--PlayfairFont);
    background-size: 100% 100%;
}

.buyerUpdatedBGImage {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.homeDiv2{
     /* background-image: url("../../assets/Backround2Home\ .png");   */
    /* float: left;
    position: absolute; */
    /* left: 10%;
    top: 15%; */
   
    z-index: 100;
    height: 400px;
    margin-top: -540px;
    /* opacity: 1.7; */
    width: 100%;
    font-family: var(--PlayfairFont);
    background-size: 100% 100%;
}

.homeDiv3{
    
    margin-top: -100px;

}
.choosefromtext{
    
    font-family: var(--PlayfairFont);
    font-size: 30px;
    font-weight: 500;
    /* color: var(--mainFont); */
    margin-top: -90px;
    color: #adadad;

}
.quote{
    width: 20px;
    margin-top: 20px;
}

@media only screen and ( max-width: 480px ) {
    .carousalbg2{
      width: 100% !important;
    }
    .carousalbg{
        width: 100% !important;
    }
    .textline1{
         font-size: 20px;
    margin-left: 15px;
   }
    .textline2{     
    margin-left: 20px;
   }
   .carousaltext1 {
    font-size: 15px;}
    .carousaltext2 {
    font-size: 18px;}

.Homebg2div1 {
  left: 50%;  /* display: none; */
  margin-left: -150px;
}
.Homebg2div4{
    /* transition :none !important; */
    /* display: block; */
    
 left: 50%;  /* display: none; */
  margin-left: -40px;
    width: 350px;

}

.Homebg2div2 {
     left: 50%;  /* display: none; */
  margin-left: -150px;
    /* display: none; */
    margin-top: 500px;
}
.Homebg2div3{
    transition :none !important;

    /* display: block; */
    margin-top: 500px;
     width: 350px;
   left: 50%;  /* display: none; */
  margin-left: -170px;
}

     .mainDivTransitionleft:hover  .Homebg2div4{
 left: 17%; 
 width: 350px;
    }
    .mainDivTransitionright:hover .Homebg2div3{
        width: 350px;
    }
    .homeDiv3 {
    margin-top: 410px;
}
.sub-menu{
    top: 31rem;
}
     @keyframes fadein {
         0% {opacity: 0;  }
        100% {opacity: 1;  width: 350px;    
     height: 450px;}
    }
     @keyframes fadeinLeft {
         0% {opacity: 0;  }
        100% {opacity: 1;  width: 350px;    
     height: 450px;}
    }

}
@media only screen and ( max-width: 767px ) and ( min-width: 481px ){
   .textline1{
         font-size: 20px;
    margin-left: 15px;
   }
    .textline2{     
    margin-left: 20px;
   }
   .carousaltext1 {
    font-size: 15px;}
    .carousaltext2 {
    font-size: 18px;}

.Homebg2div1 {
  left: 50%;  /* display: none; */
  margin-left: -150px;
}
.Homebg2div4{
    /* transition :none !important; */
    /* display: block; */
    
 left: 50%;  /* display: none; */
  margin-left: -170px;
    width: 350px;

}

.Homebg2div2 {
     left: 50%;  /* display: none; */
  margin-left: -150px;
    /* display: none; */
    margin-top: 500px;
}
.Homebg2div3{
    transition :none !important;

    /* display: block; */
    margin-top: 500px;
     width: 350px;
   left: 50%;  /* display: none; */
  margin-left: -170px;
}

     .mainDivTransitionleft:hover  .Homebg2div4{
 left: 50%; 
 width: 350px;
    }
    .mainDivTransitionright:hover .Homebg2div3{
        width: 350px;
    }
    .homeDiv3 {
    margin-top: 425px;
}
.sub-menu{
    top: 31rem;
}
     @keyframes fadein {
         0% {opacity: 0;  }
        100% {opacity: 1;  width: 350px;    
     height: 450px;}
    }
     @keyframes fadeinLeft {
         0% {opacity: 0;  }
        100% {opacity: 1;  width: 350px;    
     height: 450px;}
    }
}
@media only screen and ( max-width: 991px ) and ( min-width: 768px ){
    .carousaltext1 {
    font-size: 14px;
    }
    .carousaltext2 {
    font-size: 17px;
    }

      .Homebg2div1{
            left: 20%;
    }
          .mainDivTransitionleft:hover  .Homebg2div4{
 left: 7.4%; 
 width: 350px;
    }
    .mainDivTransitionright:hover .Homebg2div3{
        width: 350px;
    }
     @keyframes fadeinLeft {
         0% {opacity: 0;  }
        100% {opacity: 1;  width: 350px;    
     height: 450px;}
    }

     @keyframes fadein {
        0% {opacity: 0;   }
        100% {opacity: 1;     width: 350px;    height: 450px;}
    }
    .textline3 {
    font-size: 12px;
    }
}
@media only screen and ( max-width: 1199px ) and ( min-width: 992px ){
    .Homebg2div1{
            left: 38%;
    }
    .carousaltext1 {
    font-size: 14px;   
}
.carousaltext2 {
    font-size: 16px;}
       .mainDivTransitionleft:hover  .Homebg2div4{
    left: 12.4%;
    }
}

@media only screen and ( max-width: 767px ) {
    .carousaltext31{
        margin-top: 30px;
        color: black !important;
    }
    
    .carousaltext32 {
        margin-top: 10rem;
        color: black !important;
    }
    
    .carousaltext33 {
        margin-top: 18rem;
        color: black !important;
    }

    .choosefromtext {
        margin-top: -50px;
        color: black !important;
    }

    .carousalbg {
        margin-top: 45%;
    }
}

/* @media only screen and ( max-width: 767px ) and ( min-width: 544px ) {
    .carousalbg {
        margin-top: 310px !important;
    }
} */

@media only screen and ( min-width: 1200px ) {
    .carousaltext31, .carousaltext32, .carousaltext33, .choosefromtext {
        color: white !important;
    }

}

@media only screen and ( max-width: 767px ) and ( min-width: 725px ) {
    .homeDiv2 {
        margin-top: -65%;
    }
}

@media only screen and ( max-width: 724px ) and ( min-width: 660px ) {
    .homeDiv2 {
        margin-top: -75%;
    }
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
    .homeDiv2 {
        margin-top: -625px;
    }

    .carousalbg {
        margin-top: 140px;
    }
}

@media only screen and ( max-width: 600px ) {
    .carousaltext33 {
        margin-top: 20rem !important;
    }
}


