
.landingpageimg{
    background-image: url("../../assets/landingpageimg.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height:100vh;
}

.parallax {
  /* The image used */
  background-image: url("../../assets/landingpageimg.png");
  /* Set a specific height */
  min-height: 500px; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
