
.landingpageimg{
    background-image: url("../../assets/landingpageimg.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height:100vh;
}

.parallax {
  /* The image used */
  background-image: url("../../assets/landingpageimg.png");
  /* Set a specific height */
  min-height: 500px; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.HomeBg1 {
    width: 100%;
    /* height: 283vh; */
    margin-top: -30.5%;
    height: 100%;
}
.HomeBg2 {
    width: 100%;
    /* height: 283vh; */
    margin-top: -63%;
    height: 100%;
}
.HomeBg3 {
    width: 100%;
    /* height: 283vh; */
    /* margin-top: -30.5%; */
    height: 100%;
        margin-bottom: -10%;
}

.Homebg2div1 {
    float: left;
    position: absolute;
    left: 28%;
    top: 110%;
    z-index: 1000;
    background-color: #92AD40;
    padding: 5px;
    color: #FFFFFF;
    font-weight: 500;
    width: 300px;
    height: 400px;
    transition: left 1s, width 1s;
    text-align: right;
    font-family: var(--PlayfairFont) !important;
    font-size: 20px;
    
}

.Homebg2div4 {
    display: none;
    float: left;
    position: absolute;
    left: 28%;
    top: 110%;
    z-index: 1000;
    background-color: #92AD40;
    padding: 5px;
    color: #FFFFFF;
    font-weight: 500;
    width: 300px;
    height: 400px;
    transition:  width 2s, height 4s;
    transition-delay: 1s;
    text-align: right;
    font-family: var(--PlayfairFont) !important;
    font-size: 20px;
       
}

 .mainDivTransitionleft:hover  .Homebg2div1  {
     /* width: 500px; */    
     /* display: none;  */
     animation: fadeout 1s ease-out;    
  
    }

    .mainDivTransitionleft:hover  .Homebg2div4{
     
    display: block;
    animation: fadeinLeft 1s ease-in;  
    width: 500px;    
     height: 500px; 
     left:14%;
    
    }

     @keyframes fadeinLeft {
         0% {opacity: 0;  }
        100% {opacity: 1;  width: 500px;    
     height: 500px;}
    }


.Homebg2div2 {
    float: left;
    position: absolute;
    left: 51%;
    top: 110%;
    z-index: 1000;
    background-color: #92AD40;
    padding: 5px;
    color: #FFFFFF;
    font-weight: 500;
    width: 300px;
    height: 400px;
    /* transition: width 1s; */
       font-family: var(--PlayfairFont) !important;
       font-size: 20px;
       display: block;
}

.Homebg2div3 {
    display: none;
    float: left;
    position: absolute;
    left: 51%;
    top: 110%;
    z-index: 1000;
    background-color: #92AD40;
    padding: 5px;
    color: #FFFFFF;
    font-weight: 500;
     width: 300px;
    height: 400px;
    transition: width 1s ;
    transition-delay: 1s;
    font-family: var(--PlayfairFont) !important;
    font-size: 20px;
}
.mainDivTransitionright:hover  .Homebg2div3{
     /* width: 500px; */    
    display: block;
    animation: fadein 1s ease-in;
      width: 500px;
      height: 500px;  

    }
     .mainDivTransitionright:hover  .Homebg2div2  {
     /* width: 500px; */    
     /* display: none;  */
     animation: fadeout 1s ease-out;    
  
    }
    @keyframes fadein {
        0% {opacity: 0;   }
        100% {opacity: 1;     width: 500px;    height: 500px;}
    }

    @keyframes fadeout {
        0% {opacity: 1;     }
        100% {opacity: 0;     }
    }


    
.Homebg2div2 p{
    margin: 0px 0 0px;
}

.Homebg2div1 p{
    margin: 0px 0 0px;
}
   



   

.maincontainer{
background-color: black;
}

.internaldiv{
    background-color: white;
}

.text1 {
    font-family: var(--LatoFont);
    font-size: 16px;
    font-weight: 600;
}

.homeDivmain {
    float: left;
    position: absolute;
    left: 13%;
    top: 20%;
    color: white;
    z-index: 1000;
    font-family: var(--PlayfairFont);
}