.registerimg{
    background-image: url("../../../assets/calculator_bg-scaled-e1584353976962-2048x1362.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    min-height:100vh;
  }
  .demoa{
    margin-top:100px;
    background-color: white;
    border-radius: 10px;
    min-height:650px;
    height:auto;
    width:100%;
    /* margin-left: 8.5%; */
}
.font2{
    font-size: 15px;
}
.font3{

    font-size: 20px;
}
.mr-5{
    margin-right: 35px!important;
}
.font5{
    font-size: 35px;
}
.userLogo {
    width: 42px;
}
.ionickeylogo {
    width: 47px;
}
.locklogo{
    width: 30px;
}
/* align glyph */
.left-addon2 .glyphicon  { left:  6px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon2 input  { padding-left:  48px; }
.right-addon input { padding-right: 30px; }

/* enable absolute positioning */
.inner-addon2 {
    position: relative;
  }
  
  /* style glyph */
  .inner-addon2 .glyphicon {
    position: absolute;
    padding: 12px;
    pointer-events: none;
  }