.crpinote{
    font-weight: 600;
    color: darkgrey;
}
.CRfondcss{
    color: red;
    margin-top: 20px;
    padding: 15px;
    font-weight: bolder;
}
.crpigreennote{
    color: green;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.postchangereq{
    font-size: 19px;
    font-family: none;
    font-weight: bold;
}
.h20{
    height: 20px;
}
.viewoldpi{
    font-size: 14px;
    font-weight: 600;
    color: cornflowerblue;
}

.CRdate{
    color: green;
    font-weight: 500;
}

.colorchange{
    height: 17px;
    width: 17px;
    border: none;
    border: 1px solid blue;
    background-color: blue;
    margin-right: 10px;
    margin-bottom:-3px

    
}
.notetouploadrec{
    background: whitesmoke;
    border-radius: 0px;
    color: grey;
    text-align: start;
    font-size: 12px;
    font-weight: 100;

}
.colorchange2{
    height: 17px;
    width: 17px;
    border: 1px solid black;
    background-color: white;
    margin-right: 10px !important;
}
.CRinput {
    width: 60%;
    height: 39px;
    background: whitesmoke;
    border: 1px solid transparent;
    /* border-radius: 5px; */
    margin-top: 6px;
    /* margin-left: 17px; */
    padding-left: 5px;
    margin-left: 15px;
    color: goldenrod;
}

.Chathere{
    height: 36px !important;
    font-size: 11px !important;
    margin-left: 5px !important;
}

.areyousureh1{
    font-size: 28px;
    margin-bottom: -12px;
    color: black;
}
.areyousurenote{
    font-size: 15px;
    color: black;
}
.wanttodis{
    font-size: 16px;
    font-weight: bold;
    color: darkgrey;
}
.crnote4{
    font-size: 17px;
    font-weight: 500;
    color: darkgrey;
}
.updateinvday{
    font-size: 11px;
    color: green;
    font-weight: bolder;

}

.makechangenowbtn{
    background-color: green;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    height: 32px;
    border-radius: 27px;
    padding: 5px;
    width: 179px;
}
.popuprejimg{
    height: 179px;
    margin-top: 12px;
}
.crnote4p {
    font-size: 13px;
    font-weight: bold;
    color: black;
}
.btn-switch--on {
    position: relative;
    display: block;
    width: 44px;
    height: 21px;
    cursor: pointer;
    background-color: #60C674;
    border: 2px solid #60C674;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 228px;
}
 
.btn-switch--on .btn-switch-circle {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 16px;
    width: 16px;
    background-color: #4F4F4F;
    border-radius: 40px;
}
 
.mu-btn-switch {
    background-color: #C66060;
    border: 2px solid #C66060;
}
 
.mu-btn-switch .btn-switch-circle--off {
    left: 0;
    right: auto !important;
}
.changeRequesttext{
    width: 220px;
    float: left;
    font-size: 19px;
    color: green;
}
.changeRequesttextdis{
    width: 220px;
    float: left;
    font-size: 19px;
    color: #C66060;
}
.sure{
    font-size: 50px;
}
.dcr{
    margin-top:10px;
    font-size: 22px;
}
.frezeReq{
    font-size: 22px;
    margin-top: 10px;
    color: darkgrey;
}
.freezeimg{
    width: 225px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.greenokbtn{
    background: green;
    color: white;
    border-radius: 2em;
    width: 8em;
    height: 2.5em;
    border: white;

}
.canceltext{
    width: 63px;
    margin: 0 auto;
    font-size: 20px;
}