.artisanQCBg {
    background-image: url("../../assets/redbg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: auto;
}

.artisanQCHeader {
    text-align: center;
    font-size: 24px;
    color: black;
}

.artisanQCSubHeader {
    text-align: center;
    font-size: 19px;
    margin-top: 5px;
    font-weight: 300;
    color: black;
}

.artisanQCNameHeaderRow {
    margin-top: 20px;
    color: black;
    font-weight: 700;
    font-size: 16px;
}

.artisanQCCardStyle {
    box-shadow: 5px 10px 20px #dcdcdc;
    background-color: #ffffffed;
    padding: 30px 60px;
    margin: 30px 50px;
}

.artisanQCCardHeader {
    color: black;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.QCquestionsTitle {
    color: #505050;
    margin-top: 15px;
    margin-bottom: 5px;
}

.QCquestionsInputBox {
    width: 100%;
    border: 1px solid #bfbfbf;
    color: #505050;
    padding: 10px;
}

.QCquestionsInputBox:focus {
    border: 1px solid #505050 !important;
    outline: none !important;
}

.QCsaveSendCol {
    margin-top: 40px;
    margin-bottom: 30px;
}

.QCsaveButton {
    border: 2px solid #4582F5;
    color: #4582F5;
    padding: 5px 20px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    margin: 0 20px;
    cursor: pointer;
}

.QCsendButton {
    border: 2px solid #4582F5;
    color: white;
    background-color: #4582F5;
    padding: 5px 20px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    margin: 0 20px;
    cursor: pointer;
}

.QCsaveButton, .QCsendButton {
    outline: none !important;
}

.QCLabelTitle {
    font-weight: 500 !important;
    color: #505050 !important;
    margin-right: 20px !important;
    border: 1px solid #bfbfbf !important;
    padding: 10px 20px !important;
}

.QCLabelInput {
    margin-right: 10px !important;
}