.crpinote{
    font-weight: 600;
    color: darkgrey;
}
.crpigreennote{
    color: green;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.postchangereq{
    font-size: 19px;
    font-family: none;
    font-weight: bold;
}
.h20{
    height: 20px;
}
.viewoldpi{
    font-size: 14px;
    font-weight: 600;
    color: cornflowerblue;
}

.CRdate{
    color: green;
    font-weight: 500;
}

.colorchange{
    height: 17px;
    width: 17px;
    border: none;
    border: 1px solid blue;
    background-color: blue;
    margin-right: 10px;
    margin-bottom:-3px

    
}
.colorchange2{
    height: 17px;
    width: 17px;
    border: 1px solid black;
    background-color: white;
    margin-right: 10px;
    margin-bottom:-3px
}
.CRinput {
    width: 60%;
    height: 39px;
    background: whitesmoke;
    border: 1px solid transparent;
    /* border-radius: 5px; */
    margin-top: 6px;
    /* margin-left: 17px; */
    padding-left: 5px;
    margin-left: 15px;
    color: goldenrod;
}

.Chathere{
    height: 36px !important;
    font-size: 11px !important;
    margin-left: 5px !important;
}

.areyousureh1{
    font-size: 28px;
    margin-bottom: -12px;
    color: black;
}
.areyousurenote{
    font-size: 15px;
    color: black;
}
.wanttodis{
    font-size: 16px;
    font-weight: bold;
    color: darkgrey;
}