.ratingCodeStyle {
    font-size: 33px;
}

.ratingRowTop {
    margin-top: 20px;
}

.ratingSubheader {
    margin-top: 8px;
}

.rateUnusualButton {
    background-color: #cc0000;
    border: none;
    font-weight: 100;
    color: white;
    padding: 6px 23px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 13px;
}

.rateWeatherStarImg {
    width: 80px;
    margin-top: 60px;
}

.rateSubSubHeader {
    font-size: 20px;
    color: #9e9e9e;
    margin-top: 15px;
}

.ratingQs {
    font-size: 21px;
    color: #9e9e9e;
}

.ratingQuestionStartTop {
    margin-top: 50px;
}

.ratingStarDisplayMargin {
    margin: 0px 10px;
}

.ratingStarDisplayMargin:not(.nohover):hover {
    background-color: #F2BF17;
}

.ratingRemovePadding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.buyerRatingBG {
    background-image: url("../../assets/Bg\ rating\ review.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: auto;
}

.ratingTextareaStyle {
    margin-top: 15px;
    width: 60%;
    height: 150px;
    border: 1px solid #dadada !important;
    padding: 20px;
}

.ratingEditIcon {
    width: 40px;
}

.ratingHr {
    border-top: 1px solid #848484 !important;
}

.rateSendButton {
    background-color: #000000;
    border: none;
    font-weight: 100;
    color: white;
    padding: 6px 23px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.ratingFooterImg {
    width: 100%;
    height: 100%;
    margin: 60px 0px;
    border-top: 6px solid #6A8EED;
    padding-top: 20px;
}

.rateSendButtonDisable {
    background-color: #89898a;
    border: none;
    font-weight: 100;
    color: white;
    padding: 6px 23px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.averageRate {
    color: #BF910A;
    font-size: 70px;
}

.starColorInactive {
    color: #EFEFEF !important;
}

.starColorInactive svg {
    width: 100% !important;
    height: 50px !important;
}

.starColorActive {
    color: #F2BF17 !important;
} 

.starColorActive svg {
    width: 100% !important;
    height: 50px !important;
}

.envelopeBgImg {
    background-image: url("../../assets/Envelope\ &\ Card.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 900px;
}

.envelopeHeart {
    width: 25px;
    margin-left: 8px;
}

.envelopeHeartTextLine1 {
    color: #645604;
    font-size: 22px;
    padding-top: 12rem;
}

.envelopeHeartTextLine2 {
    color: #645604;
    font-size: 22px;
    padding-top: 5px;
}

.envelopeDear {
    color: #645604;
    font-size: 18px;
    margin-top: 24rem;
    margin-left: 30px;
}

.envelopeThank {
    color: #E2D276;
    font-size: 50px;
    margin-top: 10px;
    margin-left: 30px;
}

.envelopePart {
    color: #C6B763;
    margin-left: 30px;
    font-size: 18px;
    margin-top: 10px;
}

.envelopeBrandlogo {
    width: 90px;
    border-radius: 50px;
    border: 1px solid white;
    height: 90px;
    margin-top: 85px;
    margin-left: 30px;
    border: 1px solid #e8e8e8;
}

.rateGoHomeButton {
    background-color: #000000;
    border: none;
    font-weight: 100;
    color: white;
    padding: 6px 23px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.rateLoadingTopBottom {
    margin-top: 60px;
    margin-bottom: 60px;
}

.starColorActiveCompleteOrder {
    color: #F2BF17 !important;
}

.starColorActiveCompleteOrder svg{
    width: 100% !important;
    height: 25px !important;
    position: absolute !important;
    left: -150px !important;
}

.starColorActiveCompleteEnquiryId {
    color: #F2BF17 !important;
}

.starColorActiveCompleteEnquiryId svg{
    width: 106% !important;
    height: 25px !important;
    position: absolute !important;
    top: 0px;
}

.suggestedProductsListTopRating {
    margin-bottom: 30px;
}

.ratingValidationFlagError {
    color: #cc0000;
    font-size: 16px;
    margin-top: 20px;
    font-weight: 600;
}

@media only screen and (min-width: 1200px) {
    .starColorActiveCompleteEnquiryId svg{
        display: block !important;
    }
}
    