.EditProductbutton{
    color: white;
    margin-top: 36px;
    height: 40px;
    width: 100px;
    border-radius: 40px;
    background: #333333;
    font-size: 16px;
}
.EditProductbutton[disabled]{
    background: grey;
}
.modalconfirm{
    border: 1px solid black;
    background: white;
}
.arrowsize2{
    width:65px!important;
    margin-top:50px!important;
    cursor: pointer;
    margin-left: 12px;
}
.arrowsize3{
    width:65px!important;
    margin-top:00px!important;
    cursor: pointer;
    margin-left: 12px;
    cursor: pointer;

}

/* modal css */
.w3-modal {
    z-index: 9999 !important;
}

.modalBoxSize {
    width: 500px;
}

.deleteModalHeader {
    font-weight: 600;
    text-align: left;
    margin-left: 10px;
}
.deleteModalHeadermoq {
    font-weight: 600;
    text-align: left;
    /* margin-left: 10px; */
    text-align: center;
    /* padding: 9px; */
    font-size: xx-large;
    color: indianred;
}
.deleteModalPara {
    font-size: 16px;
    text-align: left;
    margin-left: 10px;
    margin-top: 20px;
}

.deleteModalButtonOuterDiv {
    margin-top: 80px;
    margin-bottom: 30px;
    font-weight: 600;
    text-align: right;
    margin-right: 10px;
}

.deleteModalCancelButton {
    font-size: 15px;
    color: #CC0000;
    padding: 6px 23px;
    margin-right: 20px;
    cursor: pointer;
    border: 1px solid #CC0000;
    border-radius: 40px;
}

.deleteModalOkayButton {
    border: 1px solid #CC0000;
    background-color: #CC0000;
    color: white;
    padding: 6px 23px;
    border-radius: 40px;
    font-size: 15px;
    cursor: pointer;
}

.saveModalOkayButton {
    border: 1px solid #4582F5;
    background-color: #4582F5;
    color: white;
    padding: 6px 23px;
    border-radius: 40px;
    font-size: 15px;
    cursor: pointer;
}
.toast-error-container {
    color: white !important;
    border-radius: 8px !important;
    background: black !important;
    /* background-color: #ff0018 !important; */
    border: 1px solid black !important;
    box-shadow: 0px 1px 5px rgba(248, 175, 175, 0.1) !important;
}
toast-error-container svg {
    color: white;
}