.EditProductbutton{
    color: white;
    margin-top: 36px;
    height: 40px;
    width: 100px;
    border-radius: 40px;
    background: #333333;
    font-size: 16px;
}
.EditProductbutton[disabled]{
    background: grey;
}