.EditProductbutton{
    color: white;
    margin-top: 36px;
    height: 40px;
    width: 100px;
    border-radius: 40px;
    background: #333333;
    font-size: 16px;
}
.EditProductbutton[disabled]{
    background: grey;
}
.modalconfirm{
    border: 1px solid black;
    background: white;
}


/* modal css */
.w3-modal {
    z-index: 9999 !important;
}

.modalBoxSize {
    width: 500px;
}

.deleteModalHeader {
    font-weight: 600;
    text-align: left;
    margin-left: 10px;
}

.deleteModalPara {
    font-size: 16px;
    text-align: left;
    margin-left: 10px;
    margin-top: 20px;
}

.deleteModalButtonOuterDiv {
    margin-top: 80px;
    margin-bottom: 30px;
    font-weight: 600;
    text-align: right;
    margin-right: 10px;
}

.deleteModalCancelButton {
    font-size: 15px;
    color: #CC0000;
    padding: 6px 23px;
    margin-right: 20px;
    cursor: pointer;
    border: 1px solid #CC0000;
    border-radius: 40px;
}

.deleteModalOkayButton {
    border: 1px solid #CC0000;
    background-color: #CC0000;
    color: white;
    padding: 6px 23px;
    border-radius: 40px;
    font-size: 15px;
    cursor: pointer;
}

.saveModalOkayButton {
    border: 1px solid #4582F5;
    background-color: #4582F5;
    color: white;
    padding: 6px 23px;
    border-radius: 40px;
    font-size: 15px;
    cursor: pointer;
}