.productImage {
    width: 200px !important; 
    cursor: pointer;
    height: 200px !important;
    border-radius: 1%;
}

.productImageDefault{
     width: 200px !important; 
    cursor: pointer;
    height: 200px !important;
    border-radius: 1%;
}

.productImageEdit {
          cursor: pointer;
    width: 20px !important;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.productImageDelete{
       cursor: pointer;
    width: 16px !important;
    margin-right: 12px;
    margin-top: 5px;
    margin-left: 12px;
    margin-bottom: 5px;
}


.inComplete{
    background-color:#A5A5A5 ;

    border-radius: 50%;
    width: 20px;
    height: 20px;
    /* float: right; */
    margin-top: 11px;
 
    margin-left: -45px;
    float: left;    
     animation: fadein 2s ease-out;  
       transition-duration: 0.3s;
}

.Complete{
  background-color: #1F76EA;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    /* float: right; */
 margin-top: 11px;  
        margin-left: -45px;
    float: left;
     animation: fadein 2s ease-in;  
       transition-duration: 0.3s;
 

}


.SubTopic{
 
    border:2px solid #93DB4A;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    /* float: right; */
 margin-top: 11px;
 
    margin-left: -35px;
    float: left;

}

.mainheading {
color: var(--mainBlack);
    font-weight: 600;
    font-family: var(--PlayfairFont);
    margin-left: -30px;
    margin-top: 40px;
    margin-bottom: 25px;

}


.productImage{
    border: 5px solid white;
}





.img_wrp:hover  .imageEdit{

  display: block;
    animation: fadein 0.5s ease-in;  
}


 @keyframes fadein {
        0% {opacity: 0;   }
        100% {opacity: 1;    }
    }
.imageEdit{
      border: 3px solid white;
    background: #EFE7E7;
    /* margin-top: -43px; */
    position: absolute  !important;
    margin-top: -38px;
    width: 196px !important;
    border-radius: 8px;
    display: none;
    margin-left: 3px;
}


.hrlineforAddProduct {
      margin-top: 40px;
    border: 0;
    border-top: 1px solid #ccc;
    width: 33%;
    /* float: right; */
    margin-left: 33%;
    margin-bottom: 20px;
}

.vrlineforAddProduct:after {    
  content: "";
    background-color: #ccc;
    position: absolute;
    width: 1px;
    height: 150px;
    top: 26px;
    left: 100%;
    display: block;

}

.subHeading {
color: var(--mainBlack);
    font-weight: 600;
    font-family: var(--LatoFont);
}

.subHeading_1{
color: #909090;
    font-family: var(--LatoFont);
}


.subHeading2 {
color: var(--mainBlack);
    font-weight: 600;
    font-family: var(--LatoFont);
}

.subHeading_2{
color: #909090;
    font-family: var(--LatoFont);
        margin-top: -5px;
}

.warpweftheader{
color: #ADADAD;
    font-size: 30px;
    font-family: var(--LatoFont);
    font-weight: 500;
}

.warpweftImage{
width: 250px;
}
.detailsWdiv{
background-color: white;
    width: 100%;
    border-radius: 8px;

}

.detailsWdiv select {
    background-color: #F0F0F0;
}

.mlrow{
    margin-left: 20px !important;
    margin-right: 20px !important;
}



.detailWtext{

}

.detailWtextHeader{
   font-size: 20px;
    padding-top: 10px;
    margin-left: 15px;
}

.detailWtextHeaderImage{
        width: 60px !important;
    margin-top: 7px;
    margin-left: 10px;
}

.reedcountImg{
    width: 90px;
    margin-top: -35px;
    margin-left: 85px;
}

.dimensionsImg{
        width: 200px;
    margin-left: 10px;
   
    margin-top: 30px;

}

.washAndCareDiv {
       padding-left: 90px;
    padding-right: 90px;
    text-align: center;
    padding-top: 20px;
}

.washAndCareDiv label {
cursor: pointer;
}

.washAndCareImage {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    cursor: pointer;
}

.selectedWareandCare{
     /* border: 1px solid var(--mainBlue);  */
    border-radius: 50%;
    box-shadow: 0px 0px 20px 0px var(--mainBlue);
     transition-duration: 0.3s;
     /* animation: shadow-pulse 0.5s 1; */

}
@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}


.selectedWareAndCareColor {
        color: var(--mainBlue);
}


.ml-160{
    margin-left: -160px;
}




.detailWtextHeaderImageWeft{
        width: 70px !important;
    margin-top: 7px;
    height: 17px;
    margin-left: 10px;
}

.extraweftOptional{
    color:#6796C4;

}

.weaveselection{
    width: 400px;
    border-radius: 8px;
    background: var(--mainFont);
    border: 1px solid white;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    color: #484848;
    text-align: center;
    line-height: 40px;
}

.weaveselectionCheckbox{
     width: 300px;
    border-radius: 8px;
    background: var(--mainFont);
    border: 1px solid white;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    color: #484848;
    text-align: center;
    line-height: 40px;
        margin-left: -70px;
}


.productDropdown{
    width: 300px;
    border-radius: 8px;
    background: var(--mainFont);
    border: 1px solid white;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    color: var(--lightFont);
        padding: 5px;

}

.ProductTextBox {
   width: 300px;
    border-radius: 8px;
    background: var(--mainFont);
    border: 1px solid white;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    color: var(--lightFont);
        padding: 5px;
}

.yarnProductTextBox {
   width: 300px;
    border-radius: 8px;
    background: #F0F0F0;
    border: 1px solid white;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    color: var(--lightFont);
        padding: 5px;

}


.productTextArea {
    width: 600px;
    height: 160px;
    border-radius: 8px;
    background: var(--mainFont);
    border: 1px solid white;
 padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    color: var(--lightFont);
    resize: none;
}

.ProductTextBox:focus{
    outline:none;
    border-color:#909090;
    box-shadow:0 0 10px #909090;
}

.productTextArea:focus{
    outline:none;
    border-color:#909090;
    box-shadow:0 0 10px #909090;
}

.ml30{
        margin-left: 30px;

}

.mt15{
        margin-top: 15px;
}


.mt30{
        margin-top: 30px;
}

.mt100{
        margin-top: 100px;
}

.mt60{
      margin-top: 60px;
}

.Plr60 {
        padding-left: 60px;
    padding-right: 60px;

}

.xicondimension{
   color: #B4B4B4;
    font-size: 20px;
    margin-left: -10px;
    margin-right: 20px;
    
}

.productDimensionHeading {
    /* margin-left: -70px; */
    color: var(--mainBlack);
    font-size: 18px;
    font-family: var(--LatoFont);
    font-weight: 600;
}

.saveBtnProduct {
  
    color: white;
    background-color: #4582F5;
    /* width: 100% !important; */
    padding-left: 12px;
    font-size: 12px !important;
    border: none;
  width: 115px;
    height: 32px;
    text-align: center;
    border-radius: 32px;
    font-weight: bold;
    /* letter-spacing: 0.5px; */
}
.saveBtnProduct:hover {
    box-shadow: 0px 0px 15px -2px #4582F5;
}


.resetBtnProduct {
  
    color: #4582F5;
    background-color: white;
    /* width: 100% !important; */
    padding-left: 12px;
    font-size: 12px !important;
    border: none;
  width: 115px;
    height: 32px;
    text-align: center;
    border-radius: 32px;
    font-weight: bold;
    /* letter-spacing: 0.5px; */
}
.resetBtnProduct:hover {
    box-shadow: 0px 0px 15px -2px white;
}


.cancelBtnProduct {
  
    color: #FFFFFF;
    background-color:#CC0000;
    /* width: 100% !important; */
    padding-left: 12px;
    font-size: 12px !important;
    border: none;
   width: 115px;
    height: 32px;
    text-align: center;
    border-radius: 32px;
    font-weight: bold;
    /* letter-spacing: 0.5px; */
}
.cancelBtnProduct:hover {
    box-shadow: 0px 0px 15px -2px#CC0000;
}




.checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
position: relative;
    display: block;
    margin-top: 0px !important;
    width: 100% !important;
    margin-bottom: 10px;
    margin-left: 10px;
     outline: none;
}

.checkbox > span {
    color:#484848;
    padding: 15px;
}

.checkbox > input {
    height: 25px;
    width: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid white;
    border-radius: 50%;
    outline: none !important;
    transition-duration: 0.3s;
    background-color:#F0F0F0;
    cursor: pointer;
        margin-top: 8px !important;
    margin-left: -15px !important;
   
  }

.checkbox > input:checked {
    border: 1px solid white;
    background-color: #3964d99e;
     outline: none;
}

.checkbox > input:checked + span::before {
    /* content: '\2713'; */
    display: block;
    text-align: center;
    color: #41B883;
    position: absolute;
    left: 0.7rem;
    top: 0.2rem;
}

.checkbox > input:active {
    border: 2px solid #34495E;
}

.loader {
 border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*Huge thanks to @tobiasahlin at http://tobiasahlin.com/spinkit/ */
.spinner {
     margin: 53px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}


@media only screen and ( max-width: 480px ) {
     .productDropdown{
        width: 96%;
    }
     .yarnProductTextBox{

        width: 96%;
     }
     .vrlineforAddProduct  
     {
             margin-bottom: 20px;

     }

     .weaveselectionCheckbox{
         width: 100%;
     }
      .ProductTextBox{
          width: 100%;
      }
      .washAndCareDiv {
    padding-left: 30px;
    padding-right: 30px;}
    .inComplete {    
    margin-left: -30px;    
}
.reedcountImg {
       margin-left: 20px;
}
.dimensionsImg {
  
    margin-left: -25px;
    
}

.ml-160{
    margin-left: 0px;
}
}
@media only screen and ( max-width: 767px ) and ( min-width: 481px ){
.artistLanding{
    text-align: center;
    text-align: -webkit-center;
}

     .productDropdown{
        width: 48%;
    }
     .yarnProductTextBox{

        width: 48%;
     }
     .vrlineforAddProduct  
     {
             margin-bottom: 20px;

     }

     .weaveselectionCheckbox{
         width: 48%;
     }
      .ProductTextBox{
          width: 48%;
      }
      .washAndCareDiv {
    padding-left: 30px;
    padding-right: 30px;}
    .inComplete {    
    margin-left: -30px;    
}
.reedcountImg {
       margin-left: 20px;
}

.dimensionsImg {
  
    margin-left: -25px;
    
}

.ml-160{
    margin-left: 0px;
}
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ){
     .productDropdown{
        width: 96%;
    }
     .yarnProductTextBox{

        width: 96%;
     }
.vrlineforAddProduct  
     {
             margin-bottom: 20px;

     }

     .weaveselectionCheckbox{
         width: 100%;
     }
      .ProductTextBox{
          width: 100%;
      }

      .washAndCareDiv {
    padding-left: 30px;
    padding-right: 30px;}


    .inComplete {    
    margin-left: -30px;    
}

.reedcountImg {
       margin-left: 20px;
}

.dimensionsImg {
  
    margin-left: -25px;
    
}
.ml-160{
    margin-left: 0px;
}

}

@media only screen and ( max-width: 1199px ) and ( min-width: 992px ){
    .productDropdown{
        width: 96%;
    }
     .yarnProductTextBox{

        width: 96%;
     }
      .ProductTextBox{
          width: 100%;
      }


}