.text1PC{
     
       font-family: var(--LatoFont);
    /* color: var(--lightFont); */
    /* margin-left: 10px; */
    font-weight: 600;
    font-size: 15px;
}

.text2PC{
    color: #c0c0c0;    
}

.seemore {
    color:#0058ff85;
    cursor: pointer;
}


.hrline1{
    margin: 10px; 
    border: 0;
    border-top: 0.5px solid #c0c0c0;
    width: 68%;
}

.hrline2PC{
    margin-top: 10px; 
    border: 0;
    border-top: 0.5px dashed #c0c0c0;
    width: 30% !important;
    float: left;
}

.hrline3PC{
    margin-top: 12px; 
    border: 0;
    border-top: 0.5px dashed #c0c0c0;
    width: 35% !important;
    float: right;
}

.scissor {
        float: left;
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 5px;
}


.w10{
    width: 10% !important;
}

.ProductCard{
        background-color: var(--mainFont);
   width: 265px !important;
    height: 400px;
    /* border: 1px solid black; */
        margin: 5px;
        /* box-shadow:10px 10px 25px 5px #ccc; */
        border-radius: 2%;

}

.ProductCard:hover {
    box-shadow:10px 10px 25px 5px #ccc;
     transform:scale(1.05);
    transition: all 0.3s ease-in;
    z-index: 100;
}

.ProductList{
        /* width: 90%; */
    /* margin-left: 3% !important; */
    margin: auto !important;
    display: contents;
}

.hrlineDotted {
   
     border-top: 1px dashed #ccc;
    width: 80%;
    float: right;
    margin-top: -5%;
    margin-left: 10%;
}

.mt10 {
    margin-top: 10px;
}
.mt32 {
    margin-top: 32px;
}

.exclusive {
    color:#B501A1;
     font-size: 12px;
    font-weight: 600;
}
.MadetoOrder {
color:#3B8B91;
     font-size: 12px;
    font-weight: 600;   
}

.productName{
        text-shadow: 0px 3px 6px #00000029;
    font-style: var(--PlayfairFont) !important;
    font-size: 16px;
    word-break: break-word;
}

.PorductNameborder{
        border-left: 5px solid #C9C9C9;
    margin-left: 10px;
    border-radius: 3%;
    height: 70px;
}

.ml-10 {
    margin-left: -10px;
}

.lh15{
        line-height: 15px;
}

.instock{
    color: #B48B02;
}

.outofstock{
    color:var(--redButtonAll);
}

.Qnty{
color: #000000;
    font-size: 12px;
    font-weight: 600;
}

.ProductImage{
        max-width:100%;
   height: 275px;
       margin-top: 15px;
}

.ProductImageContainer{
    height: 300px;
}

.Imagecontainer {
  position: relative;
   display: inline-block;
  /* margin: 20px; */
  /* border: 1px solid black; */
  overflow: hidden;
  border-radius: 2%;
  width: 100%;
  /* width: 50%; */
}

.Imagecontainer img {
  display: block;
  transition: transform .4s;   /* smoother zoom */
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  /* height: auto; */
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 2%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}

.Imagecontainer:hover .image {
  /* opacity: 0.3; */
    transform: scale(1.1);
  transform-origin: 50% 50%;
}

.Imagecontainer:hover .middle {
  opacity: 1;
}

.text {
 background: #EAEAEA 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    width: 150px;
    height: 30px;
    text-align: center !important;
    padding: 4px;
}


.separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::before, .separator::after {
    content: '      ';
    flex: 1;
    border-bottom: 0.5px solid #c0c0c0;;
}
.separator::before {
    margin-right: 2em;
}
.separator::after {
    margin-left: 2em;
}
.ProductListMargin{
margin: 20px;
}

.ImageEditor{
    
}

@media only screen and (max-width: 767px) {
    .ProductCard{
       height: 400px !important;
    }

    .ProductImageContainer {
        height: auto !important;
    }

    .ProductImage {
        height: 100% !important;
        width: 100% !important;
    }
    
    .Imagecontainer {
        width: 100% !important;
        height: 220px !important;
    }
}

@media only screen and ( max-width: 767px ) and ( min-width: 481px ){
    .artistbg1img {
    width: 12%;
 
}
}
@media only screen and ( max-width: 991px ) and ( min-width: 768px ){
    .ProductListMargin{
margin-left: 10% !important;
}

/* .ProductCard{
    height: 400px !important;
 }

 .ProductImageContainer {
     height: auto !important;
 }

 .ProductImage {
    height: 250px;
 } */
}
@media only screen and ( max-width: 1199px ) and ( min-width: 992px ){}

/* width */
.PorductNameborder::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  .PorductNameborder::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .PorductNameborder::-webkit-scrollbar-thumb {
    background: #C9C9C9; 
  }
  
  /* Handle on hover */
  .PorductNameborder::-webkit-scrollbar-thumb:hover {
    background: #C9C9C9; 
  }