.artisanChatOnLoadBar {
    height: 60px;
    background-color: #F5F5F5;
    margin-top: 20px;
}

.artisanChatTalkMoreText {
    color: #CD0606;
    font-size: 45px;
    text-align: center;
    padding-top: 70px;
}

.artisanChatTalkMoreText1 {
    text-align: center;
    color: #1E1E1E;
    font-size: 18px;
    margin-top: 10px;
}

.chatRemovePadding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.artisanChatSearchBoxOuter input, .artisanChatSearchBoxOuter input:focus, .artisanChatSearchBoxOuter input:hover {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #ffffff;
    width: 90%;
    margin-left: 10px;
}

.artisanChatSearchBoxOuter input:focus, .artisanChatSearchBoxOuter input:hover {
    outline: none;
}

.artisanChatSearchBoxOuter input::placeholder {
    color: #B4B4B4;
}

.artisanChatSearchBoxOuter img {
    width: 5.5%;
}

.artisanChatSearchBoxOuter {
    background-color: #ffffff;
    padding: 7px 10px !important;
    border-radius: 50px;
    margin-top: 12px;
    margin-left: 10px;
    margin-bottom: 12px;
}

.chatBarBorderLeft {
    border-left: 4px solid #dcdcdc;
}

.chatEnquiryRow {
    padding: 15px 15px;
    border-bottom: 1px solid #efeeee;
    cursor: pointer;
}

.chatEnquiryRowGreen {
    border-left: 4px solid #24B572;
    background-color: #fdfdfd;
}

.chatEnquiryRowBlack {
    border-left: 4px solid #000000;
}

.chatEnquiryImgCol {
    padding-right: 0px !important;
    border: 1px solid;
    border-radius: 50px;
    padding-left: 0px !important;
}

.chatEnquiryImg {
    width: 100%;
    border-radius: 50px;
}

.chatEnquiryBrandName {
    color: #6d6d6d;
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 2px;
}

.chatEnquiryId {
    font-weight: 600;
}

.chatEnquiryNotifyNo {
    border: 1px solid #2258D1;
    padding: 1px 10px;
    border-radius: 50px;
    background-color: #2258D1;
    color: white;
    width: fit-content;
}

.chatRightHeight {
    height: 700px;
    border-left: 4px solid #F5F5F5;
}

.chatLeftHeight {
    height: 700px;
}

.chatEnquirySelectedBG {
    background-color: #dedede;
}

.artisanChatDropDownIcon {
    margin-top: 15px;
    margin-left: 20px;
}

.artisanChatChatIcon {
    width: 35rem;
    margin-top: 50px;
    margin-left: 20rem;
}

/* @media only screen and (max-width: 600px) and (min-width: 400px) */
 

@media only screen and ( max-width: 991px ) {
    .searchCol1 {
        padding-right: 15px !important;
    }    
}