.artisanChatOnLoadBar {
    height: 60px;
    background-color: #F5F5F5;
    margin-top: 20px;
}

.artisanChatTalkMoreText {
    color: #CD0606;
    font-size: 40px;
    text-align: center;
    margin-top: 70px;
}