.profilebackground{
    background-image: url("../../assets/backprofile.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 230px;
}
.profileheading{
    font-size:40px;
    color: white;
    margin-left: 34px;
    margin-top: 25px;
    
}
.databackground{
    background-image: url("../../assets/Profilebackground.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1032px;

}






@media only screen and ( max-width: 480px ) {
   
}
@media only screen and ( max-width: 990px ) and ( min-width: 768px ){
    .databackground{
       
        height: 790px;
    
    }

}
@media only screen and ( max-width: 767px ) and ( min-width: 481px ){
   
}
@media only screen and ( min-width: 1200px ) {
    .databackground{
       
        height: 1254px;
    
    }
    .profileheading{
        font-size:50px;
        color: white;
        margin-left: 34px;
        margin-top: 25px;
        
    }
    

}