.faultyp1{
    font-size: 12px !important;
    font-weight: 600;
}

.faultyp2{
    font-size: 12px !important;
    font-weight: 600;
    color: rgb(196, 18, 28);
}

.faultyheading{
    font-size: 31px;
    text-align: center;
    color: rgb(196, 18, 28);
    
}

.descfaultybox{
    width: 513px;
    height: 100px;
    border: 1px solid rgb(105 105 105 / 14%);
    padding: 10px;
}

.submitfaulty{
    background: black;
    color: white;
    width: 100px;
    height: 39px;
    border: none;
    border-radius: 27px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.buddlechatbtn{
    background: deeppink;
    border: none;
    border-radius: 11px;
    height: 25px;
    padding: 5px;
    width: 37px;
    margin-left: 10px;
}
.oidt{
    color: rgb(196, 18, 28);
    font-size: 10p;
    font-weight: 400;
}

.faultyreason{
    height: 65px;
    border: 1px solid  rgb(196, 18, 28);
    width: 300px;
    border-radius: 47px;
    color: rgb(245 14 26);
    padding:0 10px;
}

.faultyreason2{
    height: 65px;
    border: 1px solid  rgb(196, 18, 28);
    width: 300px;
    border-radius: 47px;
    background: rgb(196, 18, 28);
    padding:0 10px;
    color: white;
}
/* broken threads */
.brokenthreadbg{
    background-image: url("../../assets/broken\ threads.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 176px;
    margin-top: -51px;
    background-position: center;
    margin-bottom: -15px;

}

.hrlinefault{
    border-top: 2px solid lightgray;
}
.submitfaulty :disabled{
    background: grey !important;
    color:black !important
}

.nulldatafaulty{
    margin-top: 139px;
    margin-bottom: 50px;

}
/* ---------------- */
.modalsurec{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: rgb(196, 18, 28);
    margin-top: 20px;

}
.modalparafault{
    text-align: center;
    font-size: 21px;
    margin-top: 33px;
    color: rgb(196, 18, 28);
    font-weight: 500;
    padding: 10px;
}
.modalfaultwidth{
    width: 700px;
}


@media screen and (max-width:1024px) {
    .faultyreason{
        font-size: 11px;
        width: 182px;
    }
    .faultyreason2{
        font-size: 11px;
        width: 182px;

    }
  }