.selctedoptiotransnhr {
    border: 1.5px solid black;
    width: 176px;
    margin-top: 4px;
}
    
 .selctedoptiotransnhr2 {
   border: 1.5px solid black;
   width: 64px;
   margin-top: 4px;
}
.navoncontr {
    width: 132px;
    float: left;
    font-size: 20px;
    cursor: pointer;
}
.recenticon{
   
    height: 25px;
    margin-right: 15px;
    margin-top: 5px;

}
.DateandTime{
    font-size: 9px;
    font-weight: bolder;
    color: #545454;
}

.paymentreceiptup{
    font-size: 12px;
    color: rgb(228 148 193);
    font-weight: 600;
}
.proformacol{
    font-size: 12px;
    font-weight: 600;
    color:#545454;
   
}
.payack{
    font-size: 12px;
    font-weight: 600;
    color: #545454;
}
.proformainvId{
    color: black;
    /* font-weight: 600; */
    font-size: 9px;
}
.proformainvIdtext{
    font-size: 9px;  
}
.colorinv{
    color: rgb(92 171 226);
}
.boldrs{
    font-size: 15px;
    font-weight: bolder;
}
.iconsize{
          height: 35px;
        width: auto;
        max-width: 35px;
    }

.gotoenqu{
    font-size: 10px;
    font-weight: bold;
    color: #545454;
    padding: 4px;
    cursor: pointer;
}
.gotoiconsize{
    height: 25px;
  width: auto;
  max-width: 25px;
  cursor: pointer;
}
   
.viewreceipt{
    font-size: 10px;
    font-weight: bold;
    color: #545454;
    text-align: center;
    /* margin-left: 5px; */
    cursor: pointer;
}
.receipticon{
    height: 25px;
    width: auto;
    max-width: 25px; 
    cursor: pointer; 
    text-align: center;
 
}
.uplodagainicon{
    height: 23px;
    width: auto;
    max-width: 20px;
    cursor: pointer;
    text-align: center;
}
.uplodagaintext{
    font-size: 10px;
    font-weight: 600;
    color: cornflowerblue;
    text-align: center;
  
}
.forgottoplaceorder{
    
    text-align: center;
    color: rgb(204, 110, 0);
    font-size: 31px;
    padding: 85px;

}

.hrempty{
    margin-top: 2px;
    border-top: 1.5px solid darkgray;
}

.emtytextp{
    font-size: 12px;
    color:darkgray
}

.browseproductbtn{
    font-size: 10px !important;
    padding: 7px !important;
}
/* red enq */
.redthreadbg{
    margin-bottom: 15px;
    background-image: url("../../assets/red\ enq.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  
  }

  .artempthreadbg{
    margin-bottom: -15px;
    background-image: url("../../assets/bg\ art.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  
  }

  .seereceipt{
    font-size: 10px;
    font-weight: 600;
    color: black;

  }

  .happyunhappyimg{
    height: 100px;
    width: auto;
    max-width: 230px;
  }

  .buyerMOQAcceptModalrejectButton {
    border: 2px solid red;
    background-color: transparent;
    color: red;
    padding: 6px 23px;
    border-radius: 40px;
    font-size: 17px;
    cursor: pointer;
    margin-right: 6px;
}

.buyerMOQAcceptModalrejectButton:disabled{
    background-color: gray;
    opacity: 0.5;
    border: 2px solid grey;
}

.buyerNotifyButton:disabled{
    background-color: gray;
    opacity: 0.5;
    border: 2px solid grey;
}

.approvenote{
    color: #ACACAC;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

.bellicon{
    height: 18px;
    color: white;
}

.buyerNotifyButton{
    border: 2px solid rgb(245, 184, 69);
    background-color: rgb(245, 184, 69);;
    color: white;
    padding: 6px 23px;
    border-radius: 40px;
    font-size: 17px;
    cursor: pointer;
    margin-right: 6px;
}

.uploadrec{
    font-size: 10px;
    margin-top: 10px;
    color: rgb(153, 117, 253);
}
.senddelButton {
    border: 2px solid cornflowerblue;
    background-color: cornflowerblue;
    color: white;
    padding: 6px 23px;
    border-radius: 40px;
    font-size: 17px;
    cursor: pointer;
    margin-right: 6px;
    margin-bottom: 10px;
}

.senddelButton:disabled {
    border: 2px solid grey;
    background-color: grey;
    color: white;
    padding: 6px 23px;
    border-radius: 40px;
    font-size: 17px;
    cursor: pointer;
    margin-right: 6px;
}
.filtericon{
    height: 14px;
    margin-right: 10px;
}
.searchenq{
   
    font-size: 10px;
    width: 122%;
    height: 30px;
    margin-bottom: 24px;
    box-shadow: 0px 0px 0px 1px lightgrey;
    border: 4px solid transparent;

}

input.empty {
    font-family: FontAwesome;
    text-decoration: inherit;
    
}

@media only screen and ( max-width: 992px ) {
    .navoncontr {
      font-size: 11px;
           }
    .selctedoptiotransnhr {
        border: 1.5px solid black;
        width: 99px;
    }

    .selctedoptiotransnhr2 {
        border: 1.5px solid black;
        width: 38px;
    }
    .cp1headingtr {
        font-size: 20px;
    }
    .cparrowsizetr {
        width: 21px!important;
        cursor: pointer;
    }
    .recenticonsm {
        height: 14px;
        margin-right: 15px;
        margin-bottom: 10px;
    }
    .DateandTime{
        font-size: 6px;
    }
    .paymentreceiptup{
        font-size: 10px;
    }
    .proformacol{
        font-size: 7px;
        padding: 5px;
    }
    .proformainvIdtext{
        font-size: 6px;  
    }
    .boldrs{
        font-size: 10px;
    }
    .payack {
        font-size: 7px;
    }
   
}


@media only screen and ( max-width: 1024px ) and (min-width:993px){
    .fontsizenav{
    font-size: 16px;
    }
    .selctedoptiotransnhr {
        /* position: absolute; */
        border: 1.5px solid black;
        width: 143px;
    }    
}
