.selctedoptiotransnhr {
    /* position: absolute; */
    border: 1.5px solid black;
    width: 176px;
    /* top: 93px; */
    /* left: 0px; */
    margin-top: 4px;
}
    

    .selctedoptiotransnhr2 {
   /* position: absolute; */
   border: 1.5px solid black;
   width: 64px;
   /* top: 93px; */
   /* left: 142px; */
   margin-top: 4px;
}
.navoncontr {
    width: 132px;
    float: left;
    font-size: 20px;
    cursor: pointer;
}
.recenticon{
   
    height: 25px;
    margin-right: 15px;
    margin-top: 5px;

}
.DateandTime{
    font-size: 9px;
    font-weight: bolder;
    color: gray;
}

.paymentreceiptup{
    font-size: 12px;
    color: rgb;
    color: rgb(187, 139, 166);
    font-weight: 600;
}
.proformacol{
    font-size: 12px;
    font-weight: 600;
    color: darkgrey;
    padding: 5px;
}

.proformainvId{
    color: black;
    /* font-weight: 600; */
    font-size: 9px;
}
.proformainvIdtext{
    font-size: 9px;  
}
.colorinv{
    color: rgb(103, 164, 206);
}
.boldrs{
    font-size: 15px;
    font-weight: bolder;
}
.iconsize{
          height: 35px;
        width: auto;
        max-width: 35px;
    }

.gotoenqu{
    font-size: 7px;
    font-weight: bold;
    color: darkgrey;
    padding: 4px;
}
.gotoiconsize{
    height: 25px;
  width: auto;
  max-width: 25px;
}
   

@media only screen and ( max-width: 992px ) {
    .navoncontr {
      font-size: 11px;
           }
    .selctedoptiotransnhr {
        /* position: absolute; */
        border: 1.5px solid black;
        width: 99px;
    }

    .selctedoptiotransnhr2 {
        /* position: absolute; */
        border: 1.5px solid black;
        width: 38px;
    }
    .cp1headingtr {
        font-size: 20px;
    }
    .cparrowsizetr {
        width: 21px!important;
    }
    .recenticonsm {
        height: 14px;
        margin-right: 15px;
        margin-bottom: 10px;
    }
    .DateandTime{
        font-size: 6px;
    }
    .paymentreceiptup{
        font-size: 10px;
    }
    .proformacol{
        font-size: 7px;
    }
    .proformainvIdtext{
        font-size: 6px;  
    }
    .boldrs{
        font-size: 10px;
    }
}


@media only screen and ( max-width: 1024px ) and (min-width:993px){
    .fontsizenav{
font-size: 16px;
    }
    .selctedoptiotransnhr {
        /* position: absolute; */
        border: 1.5px solid black;
        width: 143px;
    }    
}
