.emptyhrwishlist h1{
    text-align: center;
    font-size: 47px;
    color:  #D6D6D6;
    /* opacity: 0.6; */
}

.emptyhrwishlist p{
    text-align: center;
    font-size: 16px;
    color:  black;
    /* opacity: 0.6; */
}

.heartwishlistbg{
    background: url("../../assets/wishlist-thread.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 321px;
    /* margin: auto; */
    margin-top: 17px;
    /* width: 100%; */
    width: auto;
    max-height: 321px;
}

.wishlistblack{
    width: 152px;
    padding: 6px;
    margin-top: 31px;
    border-radius: 16px;
    border: 2px solid black;
    color: white;
    background: black;
    letter-spacing: 0.5px;
}

.homeiconwishlist{
    height: 18px;
}
.spanhome{
    margin-left: 5px;
}


/* ---------------------------------- */
.addedwishlist{
    
}