.cpheadmarginenquiries{
    
}

.Allenqlistbtn{
    width: 100%;
    text-align: center;
    color: goldenrod;
    font-size: 15px;
    background: white;
    border: 1px solid lightgrey;
    cursor: pointer;
    height: 50px;
    padding: 12px;
}

.Allenqlistbtn2{
    width: 100%;
    text-align: center;
    color: brown;
    font-size: 17px;
    background: pink;
    border: 1px solid lightgrey;
    cursor: pointer;
    height: 50px;
    padding: 12px;
    font-weight: bold;
}
.moqdetailCard{
    /* text-align: center; */
    box-shadow: 0px 3px 15px 0px #d8d6d6;
    padding: 10px;
}

.Allenqlistbtnmt{
    margin-top: 50px;
}

.Allenqlistbtnmt2{
    margin-top: 20px;
}
.Moqh1{
    font-size: 25px;
    color: goldenrod;
    font-weight: 600;
}
.Moqh2{
    font-size: 25px;
    color: black;
    font-weight: 600;
}
.Moqh2select{
    font-size: 15px;
}
.Moqh2selectheight {
     height: 34px;
     border: 1px solid lightgrey;
     font-weight: 700;
    }  
.Moqh1p{
    padding: 17px;
    font-size: 15px;
}
.savemoqbtn{
    color: white;
    font-size: 15px;
    /* position: absolute; */
    float: right;
    padding: 5px;
    width: 70px;
    border-radius: 32px;
    border: 1px solid lightblue;
    background: rgb(30 144 255 / 88%);
}
.sendmoqbtn{
    color: white;
    font-size: 15px;
    /* position: absolute; */
    /* left: 0; */
    padding: 5px;
    width: 70px;
    border-radius: 32px;
    border: 1px solid lightblue;
    background: rgb(51 0 255 / 88%);;
}

.BuyerDetailsh1{
    font-size: 17px;
    font-weight: bold;
    padding: 5px;
}

.BdImg{
    height: 76px;
    border-radius: 52px;
    width: 76px;
    margin-top: 12px;
    /* margin: 10px; */
    /* padding: 0px 0px 0px 0px; */
    margin-bottom: 16px;
}
.BDh1{
    
    font-size: 18px;
    font-weight: 700;

}

.BDp{
    color: grey;
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
}
@media screen and (max-width:1200px) and (min-width:990px){
    .Allenqlistbtn {
        font-size: 13px;
        height: 53px;
    }
    .Allenqlistbtn2 {
        font-size: 13px;
        height: 53px;
    }
   .Moqh2selectheight {  
    height: 34px;
    width: 241px;
    font-size: 12px;

    }
    .Moqh1{
        font-size: 16px;
    }
    .Moqh2{
        font-size: 16px;
    }
}

@media screen and (max-width:991px) and (min-width:768px){
    .Moqh2selectheight {
        height: 34px;
        width: 174px;
        font-size: 9px;
    } 
    .Allenqlistbtn {
        font-size: 13px;
        height: 53px;
    }
    .Allenqlistbtn2 {
        font-size: 13px;
        height: 53px;
    }
    .Moqh1{
        font-size: 16px;
    }
    .Moqh2{
        font-size: 16px;
    } 
    .BDh1{
        font-size: 15px;
    }
    
    .BDp{
        font-size: 13px;

    }  
   
}
@media screen and (max-width:767px){
.moqdetailCard{
    text-align: center;
}
.Moqh1{
    font-size: 16px;
}
.Moqh2{
    font-size: 16px;
} 
.Moqh2selectheight {
    height: 34px;
    width: 211px;
    font-size: 10px;
} 
.savemoqbtn{
    /* position: absolute; */
    margin-right: 100px;

}
.sendmoqbtn{
    /* position: absolute; */
    margin-left: 100px;

}
.BdImgCol{
    text-align: center;
}
}
@media screen and (max-width:320px){
    .savemoqbtn{
        position: none;
        margin-right: 49px !important;
    
    }
    .sendmoqbtn{
        position: none;
        margin-left: 100px;
    
    }
    .BdImgCol{
        text-align: center;
    }
}