.enquirynav{
    font-size: 20px;
    background-color: white;
    padding: 15px;
    opacity: 1;
    border: 0.5px solid black;
}
.enquirynavselected{
    font-size: 20px;
    background-color: #6666;
    padding: 15px;
    opacity: 1;
    border: 0.5px solid #6666;
}