.MainPIRow{
    border: 1px solid lightgray;
    border-bottom: 1px !important;
}
.Invoicemb{
    border-bottom: 1px solid lightgray;
}
.Invoicebr{
    border-right: 1px solid lightgray;
    height: 204px;
}
.borderrightpi{
    border-right: 1px solid lightgray;
    height: 61px;

}

.margintopsr{
    margin-top: -108px;
}
.margintopInv{
    margin-top: 5%;
}
.margintoppdisc{
    margin-top: 4%;
}
.Pilogoimg{
    height: 95px;
}
.Ttbrand{
    font-size: 20px;
}
.origintxt{
    font-size: 18px;
}
.subttbrand{
    font-size: 15px;
    font-weight: lighter;
    /* font-family: sans-serif; */
    font-family: auto;
    color: darkslategrey;
    overflow: hidden;

}

.Mobnumpi{
    float: right;
    font-size: 13px;
    margin-top: 10px;
}
.RAcss {
margin-top: 15px;
}

.PaymentTerm{
    font-weight: 600;
    font-size: 15px;
    text-align: center;
}
.againstpi{
    text-align: center;
    color: rgb(34 99 217);
    font-size: 15px;
    font-weight: 600;
}
.thirtyperadv{
    text-align: center;
    font-weight: 900;
    font-size: 35px;
    color: rgb(39 39 231 / 84%);
}

.yetdodecide{
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    color: rgb(39 39 231 / 84%);
}
.advpaidamt{
    text-align: center;
    font-size: 9px;
    color: #fd56b2;
    font-weight: bold;
}
.yetpaysts {
    text-align: center;
    color: rgb(34 99 217);
    font-size: 11px;
    font-weight: 600;
    padding: 0px 34px 0px 30px;

}
.snopi{
    font-size: 14px;
    text-align: center;
    font-weight: 700;

}
.bordercol{
    border: 1px solid lightgray;
}

.tdmarginleft h3{
margin-left: 20px;
}
.tdmarginleft p{
    margin-left: 35px;
    color: grey;
    font-size: 13px;
    font-weight: 600;
    }

.descyarnpi{
    color: blueviolet;
    margin-left: 65px;
    /* margin-top: 6px; */
    /* padding: 1px; */
    font-weight: 600;
    opacity: 0.7;

}
.rcred{
    color: Red;
   
    font-weight: 600;
    opacity: 0.5;
}
.sbred{
    color: Red;
    margin-left: 40px;
    font-weight: 600;
    opacity: 0.5;
}

.wraptext{
    overflow-wrap: anywhere;
}
.Cursivefont{
    /* font-family: var(--PlayfairFont); */
    /* font-family: var(--LatoFont); */
    /* font-family:sans-serif; */
    font-style: italic;
    font-weight: 100;
}

.freightch{
text-align: left;
margin-left: 25px;
}

.ACcnodet{
    color: grey;
    font-style:italic
}
.edddate{
    color: green;
}

.allamtInd{
    font-size: 15px;
    font-style: italic;
    float: right;
}
.Discheading{
    color: black;
    font-style: normal !important;
}

.btncol{
    text-align: center;
}

.gobacktoeditdet{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    margin-bottom: 20px;
    /* margin-left: 9px; */
    margin-right: 10px;
    font-size: 16px;
    color: white;
    border: 1px solid;
    background-color: rgb(185, 12, 92);
    font-weight: 700;
    cursor: pointer;

}
.Raiseinvbtn{
    width: 263px;
    height: 50px;
    border-radius: 30px;
    margin-bottom: 20px;
       margin-left: 50px;
    /* font-size: 16px; */
    color: white;
    border: 1px solid transparent;
    background: rgb( 25, 67, 206);
    font-weight: 700;
    cursor: pointer;
}

.InvImg{
    height: 20px;
    /* margin-left: 8px; */
    margin-right: 10px;
}

.belowprevtext{
    font-size: 16px;
    color: grey;
    font-weight: 500;
    margin-bottom: 10px;
}

.Qtyandhsn{
    width: 100px;
}

.MarginLeft10{
    margin-left: 10px;
}
/* ------------Table------- */
table, th, td {
    border: 1px solid lightgray;
    border-right: 1px;
    margin-left: -1px;
    /* border-collapse: collapse; */
  }
  th, td {
    padding: 5px;
    /* text-align: left;     */
  }
  .tdwidth{
    width: 19%;
  }
  .gdwidth{
    width: 246px;
  }
  .srwidth{
    width: 50px;
  }
  .paddingsr{
    padding: 2.6px;
  }

  .widthbox{
    width: 230px;

  }
@media screen and (max-width:512px){
    .Pilogoimg {
        height: 55px;
    }
    .origintxt {
        font-size: 12px;
    }
    .Ttbrand {
        font-size: 13px;
    }
    .Mobnumpi {
        float: right;
        font-size: 8px;
        
    }
    .subttbrand {
        font-size: 10px;
        overflow: hidden;
    }
    .PaymentTerm {
        font-weight: bold;
        font-size: 11px;
        /* text-align: start; */
    }
    .againstpi {
       
        font-size: 10px;
    }
    .snopi {
        font-size: 10px;
    }
    .thirtyperadv {
        font-size: 20px;
    }
    .gdwidth {
        width: 100px;
    }
    .descyarnpi{
        font-size: 10px;
    }
    .tdmarginleft p {
        font-size: 10px;
    }
    .sbred{
        font-size: 10px;
    }
    .yetpaysts{
        font-size: 9px;
        padding: 0;
    }
    .font10{
        font-size: 10px;
    }
    .allamtInd {
        font-size: 10px;
    }    
    .ACcnodet{
        font-size: 10px;
    }
    .gobacktoeditdet {
        width: 162px;
        height: 35px;
        font-size: 12px;
        font-weight: 700;
    }
    .Raiseinvbtn{
        width: 162px;
        height: 35px;
        font-size: 12px;
        font-weight: 700;
        margin-left: 0; 
    }
    .InvImg {
        height: 14px;
    }    
    .belowprevtext {
        font-size: 12px;
    }
}

/* @media screen and (max-width:991px) and (min-width:513px){
    .rpu{
        font-size: 11px;
    }
} */