.MainPIRow{
    border: 1px solid lightgray;
    border-bottom: 1px !important;
}
.Invoicemb{
    border-bottom: 1px solid lightgray;
}
.Invoicebr{
    border-right: 1px solid lightgray;
}
.borderrightpi{
    border-right: 1px solid lightgray;
    height: 61px;

}
.margintopInv{
    margin-top: 10%;
}
.Pilogoimg{
    height: 95px;
}
.Ttbrand{
    font-size: 20px;
}
.origintxt{
    font-size: 18px;
}
.subttbrand{
    font-size: 15px;
    font-weight: lighter;
    /* font-family: sans-serif; */
    font-family: auto;
    color: darkslategrey;
    overflow: hidden;

}

.Mobnumpi{
    float: right;
    font-size: 13px;
    margin-top: 10px;
}
.RAcss {
margin-top: 15px;
}

.PaymentTerm{
    font-weight: 600;
    font-size: 15px;
    text-align: center;
}
.againstpi{
    text-align: center;
    color: rgb(34 99 217);
    font-size: 15px;
    font-weight: 600;
}
.thirtyperadv{
    text-align: center;
    font-weight: 900;
    font-size: 35px;
    color: rgb(39 39 231 / 84%);
}
.advpaidamt{
    text-align: center;
    font-size: 9px;
    color: #fd56b2;
    font-weight: bold;
}
.yetpaysts {
    text-align: center;
    color: rgb(34 99 217);
    font-size: 11px;
    font-weight: 600;
    padding: 0px 34px 0px 30px;

}
.snopi{
    font-size: 14px;
    text-align: center;
    font-weight: 700;

}
.bordercol{
    border: 1px solid lightgray;
}

.tdmarginleft h3{
margin-left: 20px;
}
.tdmarginleft p{
    margin-left: 35px;
    color: grey;
    font-size: 13px;
    font-weight: 600;
    }

.descyarnpi{
    color: blueviolet;
    margin-left: 65px;
    /* margin-top: 6px; */
    /* padding: 1px; */
    font-weight: 600;
    opacity: 0.7;

}
.rcred{
    color: Red;
   
    font-weight: 600;
    opacity: 0.5;
}
.sbred{
    color: Red;
    margin-left: 40px;
    font-weight: 600;
    opacity: 0.5;
}
/* ------------Table------- */
table, th, td {
    border: 1px solid lightgray;
    /* border-collapse: collapse; */
  }
  th, td {
    padding: 5px;
    /* text-align: left;     */
  }
  .tdwidth{
    width: 19%;
  }
  .gdwidth{
    width: 348px;
  }
  .srwidth{
    width: 50px;
  }
  .paddingsr{
    padding: 2.6px;
  }

  .widthbox{
    width: 230px;

  }
@media screen and (max-width:512px){
    .Pilogoimg {
        height: 55px;
    }
    .origintxt {
        font-size: 12px;
    }
    .Ttbrand {
        font-size: 13px;
    }
    .Mobnumpi {
        float: right;
        font-size: 8px;
        
    }
    .subttbrand {
        font-size: 10px;
        overflow: hidden;
    }
    .PaymentTerm {
        font-weight: bold;
        font-size: 11px;
        /* text-align: start; */
    }
    .againstpi {
       
        font-size: 11px;
    }
    .snopi {
        font-size: 10px;
    }
    .thirtyperadv {
        font-size: 20px;
    }
    .gdwidth {
        width: 100px;
    }
    .descyarnpi{
        font-size: 10px;
    }
    .tdmarginleft p {
        font-size: 10px;
    }
    .sbred{
        font-size: 10px;
    }
}

/* @media screen and (max-width:991px) and (min-width:513px){
    .rpu{
        font-size: 11px;
    }
} */