.ml-6{
    margin-left:29px;
}
@media only screen and ( max-width: 990px ) and ( min-width: 768px ){
    .ml-6{
        margin-left:40px;
    }
}
@media only screen and ( max-width: 767px ) and ( min-width: 481px ){
    .ml-6{
        margin-left:40px;
    }
}