
  input.orderclose { 
    width: 25px; 
    height: 17px; 
} 
.labelcheckbox{
    font-size: 16px;
}
.convertedDate{
    color: rgb(0 179 9);
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 30px;

}
.closeorderbtn{
    font-size: 13px;
    color: white;
    width: 100%;
    border-radius: 26px;
    padding: 8px;
    border: 1px solid;
    /* color: red; */
    background: #cc0000;
}
.closeorderbtn2{
    color: white;
    /* width: 100%; */
    border-radius: 26px;
    padding: 6px 40px 6px 34px;
    border: 1px solid;
    /* color: red; */
    background: #cc0000;
    margin-bottom: 30px;
}
.enqchatbtn{
    border-radius: 40px;

}
.disabledtext{
    color: orangered;
}
.changereqbtn{
    border-radius: 20px;
    background-color : palevioletred;
    border-color: palevioletred;
    padding: 5px 12px;
    color: black;
    font-size: 13px;
}
.enqreqbtn{
    border-radius: 20px;
    border: 1px solid #B9005C;
    background-color: #B9005C;
    padding: 5px 12px;
    color: white;
    font-size: 13px;
    
}
.truckimg{
    height: 20px;
    margin-right: 15px;
}
.notetruck{
    font-weight: bold;
    font-size: 11px;
    text-align: end;
    float: right;
}
.needhelpbth{
    background-color: black;
    border: none;
    padding: 6px;
    margin-right: 6px;

}
.mbcr{
    margin-bottom: 10px;
}
.CR{
    font-size:16px;
}
@media screen and (max-width:767px){
    .closeorderbtn {
        font-size: 12px;
        color: white;
        width: auto;
        border-radius: 26px;
        padding: 8px 20px;
        border: 1px solid;
        /* color: red; */
        background: #cc0000;
    }
    .orderReceivedDisableButtonStyle {
        border-radius: 20px;
        border: 1px solid #909090;
        background-color: #909090;
        padding: 5px 12px;
        color: white;
        font-size: 13px;
        margin-bottom: 22px;
    }
}

