.convertedDate{
    color: lightgreen;
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 10px;

}
.enqchatbtn{
    border-radius: 40px;

}
.disabledtext{
    color: orangered;
}
.changereqbtn{
    border-radius: 20px;
    background-color : palevioletred;
    border-color: palevioletred;
    padding: 5px 12px;
    color: black;
    font-size: 13px;
}
.enqreqbtn{
    border-radius: 20px;
    border: 1px solid #B9005C;
    background-color: #B9005C;
    padding: 5px 12px;
    color: white;
    font-size: 13px;
    
}
.truckimg{
    height: 20px;
    margin-right: 15px;
}
.notetruck{
    font-weight: bold;
    font-size: 11px;
    text-align: end;
    float: right;
}
.needhelpbth{
    background-color: black;
    border: none;
    padding: 6px;
    margin-right: 6px;

}
.mbcr{
    margin-bottom: 10px;
}
.CR{
    font-size:16px;
}