.hrlineasd1{
    width: 100%;
    border-top: 2.5px solid grey;
    margin-top: 11px;
    margin-bottom: 10px;
    margin-left: 0px;

}
.font141{
    font-size: 15px;
}
.mt0{
    margin-top: 0px!important;
}