.hrlineasd1{
    width: 100%;
    border-top: 2.5px solid grey;
    margin-top: 11px;
    margin-bottom: 10px;
    margin-left: 0px;

}
.font141{
    font-size: 15px;
}
.mt0{
    margin-top: 0px!important;
}
.closedEnquirybtn{
    float: right;
    background: grey;
    color: white;
    border-radius: 20px;
    padding: 5px 8px 5px 8px;
    font-size: 16px;
    border: 1px solid black;
}
.completedenqButton{
    background: green;
    color: white;
    border-radius: 20px;
    padding: 5px 8px 5px 8px;
    font-size: 16px;
    border: 1px solid black;
}
.closeenqimg{
    height: 23px;
    margin: 0px 5px;
}
.completeenqimg{
    height: 23px;
    margin: 0px 5px;
}
.seemore{
    color: rgb(161, 137, 1);
    font-size: 13px;
    font-weight: 600;
}

.orderReceivedModalButtonMargin {
    margin: 40px 0px;
}

.orderReceivedDisableButtonStyle {
    border-radius: 20px;
    border: 1px solid #909090;
    background-color: #909090;
    padding: 5px 12px;
    color: white;
    font-size: 13px;
}
.seemore1{
    /* color: rgb(161, 137, 1); */
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}