.margintoprow{
    margin-top: 36px;
}

.Total-square-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Total-square{
    background-color: white;
    border: 1px solid ;
    width: 199px;
    height: auto;
  }

  .Select-square-container{
      margin-top: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .Select20-square{
   background-color: rgb(101, 152, 41);
    border: 1px solid;
    width: 95px;
    height: 81px;
    padding: 18px 30px 23px 32px;
    color: white;
    font-size: 28px;
    font-weight: 600;

  }
  .Select30-square{
    background-color: rgb(158, 158, 158);
    border: 1px solid;
    width: 95px;
    height: 81px;
    padding: 18px 30px 23px 32px;
    color: white;
    font-size: 28px;
    font-weight: 600;
 
  }
  .Select50-square{
    background-color: rgb(182, 143, 11);
    border: 1px solid;
    width: 95px;
    height: 81px;
    padding: 18px 30px 23px 32px;
    color: white;
    font-size: 28px;
    font-weight: 600;

  }
 .totalamtpay{
     text-align: center;
     margin-top: 1px;
 }
 .orderamthead{
     font-size: 10px;
     color: gray;
     padding: 3px;
    margin-bottom: 0px;
 }
 .selectpercenttext{
     color: gray;
     font-size: 14px;
     text-align: center;
     margin-top: 35px;
 }
 .borderbox{
    border: 4px solid rgb(186,186,186);
    width: fit-content;
    padding: 3px;
    border-radius: 5px;
 }
 .advtotal{
    border: 1px solid rgb(25, 67, 206);
    padding: 10px;
    font-size: 20px;
    color: rgb(102, 136, 255);
    width: auto;
 }
 .proccedwithadvpaybtn{
    border: 1px solid;
    border-radius: 25px;
    height: 40px;
    background: black;
    color: white;
    padding: 10px;
    width: 41%;
 }

 .reporttt{
    color: gray;
    font-size: 15px;
    text-align: center;
    margin-top: 35px;
    font-weight: bold;

 }

 @media screen and (max-width:767px){
   .aligncenter{
    text-align: -webkit-center;
   
   }
   .alignbottom{
    margin-bottom: 20px;
   }
   .proccedwithadvpaybtn{
     width: auto;
     font-size: 12px;
   }
   .advtotal {
    border: 1px solid rgb(25, 67, 206);
    padding: 3px;
    font-size: 17px;
    color: rgb(102, 136, 255);
    width: auto;
    display: inline-flex;
}
.selectpercenttext {
  color: gray;
  font-size: 17px;
  text-align: center;
  margin-top: 35px;
}
 }
 
 /* ------------------------------------------ */
 .MOqtable td tr{
  border: 1px solid lightgray;
  /* border-right: 1px; */
  /* margin-left: -1px; */
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  /* text-align: left;     */
}
.borderleftblue{
  border-left: 5px solid darkblue;
}
.Artisianbrandh{
  font-weight: bold;
    font-size: 16px;
}
.Receivemoqbrandimg{
  height: 64px;
    padding: 2px;
}
.regionmoq{
  font-weight: 400;
    color: grey;
}
.theading{
  font-size: 12px;
  color: grey;
}
.tdclasscss{
  color: cornflowerblue;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.recheading{
  font-size: 7px;
    color: grey;
}
.readmored{
  color: dimgrey;
    font-size: 15px;
    cursor: pointer;
    width: 133px !important;
}
.acceptmoqbtn{
  background-color: rgb(133, 196, 36);
  color: white;
  font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.acceptmoqbtnlg{
  background-color: rgb(133, 196, 36);
  color: white;
  font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 138px;
    height: 60px;
  
}
.accepticon{
    margin-right: 10px;
}

.readmorediv{
  border-left: 3px solid darkblue !important;
  padding: 15px 2px 2px 17px;
  border: 1px solid rgb(211 211 211 / 18%);
}
.receivedmoqh1{
  font-size: 17px;
    font-weight: bold;
}
.receading{
  font-size: 9px;
}
@media screen and (max-width:970px){
  .Artisianbrandh {
    font-size: 12px;
}
.Receivemoqbrandimg{
  height: 50px;
  }
  .colright{
    text-align: -webkit-right;
  }
}