.hrBuyerNotify {
    width: 100%;
    border-top: 1px solid grey;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 0px;
}

.notifyRemoveColPadding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.notifyRemoveColRight {
    padding-right: 0px !important;
}

.notifyRemoveColLeft {
    padding-left: 0px !important;
}

.notificationCardbody {
    box-shadow: 2px 2px 2px 2px lightgrey;
    margin-top: 10px;
    background: white;
}

.notifyRowOuter {
    background-color: #000000;
    padding: 30px 10px;
    border-bottom: 1px solid;
}

.notifyEnquiryNo {
    color: #C9A2FD;
    font-size: 17px;
}

.notifyProductName {
    color: #9578BC;
    margin-left: 15px;
    font-size: 13px;
}

.notifyResponse {
    color: #FFFFFF;
    font-size: 17px;
}

.notifyBrand {
    color: #FFFFFF;
    margin-left: 15px;
    font-weight: 200;
    font-size: 15px;
}

.notifyBrandName {
    font-weight: 500;
}

.notifyCircle {
    color: #C9A2FD;
    font-size: 17px;
    font-weight: 700;
}

.notifyRead {
    color: #ffffff;
    font-size: 15px;
    font-weight: 200;
}

.notifyCircleRed {
    color: rgb(212, 19, 13);
    font-size: 17px;
    font-weight: 700;
}

.notifyReadRed {
    color: rgb(212, 19, 13);
    font-size: 15px;
    font-weight: 600;
}

.notifyImage1 {
    height: 40px;
}

.notifyEnquiryCustom {
    margin-left: 15px;
    font-size: 16px;
    color: #C9A2FD;
}

.notifyGreenColor {
    color: #7DD01D;
}

.notifyImage3 {
    height: 35px;
}

.notifyProductName1 {
    color: #9578BC;
    margin-left: 15px;
    font-size: 16px;
}

.notifyBrandName1 {
    color: #C9A2FD;
}

.notifyStatusCircleWhite {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #ffffff;
}

.notifyStatusLeft {
    margin-left: 10px;
}

.notifyRowWhiteOuter {
    padding: 30px 10px;
    border-bottom: 1px solid #d6d6d6;;
}

.notifyEnquiryNowhite {
    color: #5a5a5a;
    font-size: 17px;
}

.notifyProductName1white {
    color: #8c8989;
    margin-left: 15px;
    font-size: 16px;
}

.notifyBrandName1white {
    color: #5a5a5a;
}

.notifyStatusCircleBlack {
    background-color: #000000;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.notifyResponsewhite {
    color: #000000;
    font-size: 17px;
}

.notifyReadwhite {
    color: #545454;
    font-size: 15px;
    font-weight: 200;
}

.notifyCirclewhite {
    color: #321160;
    font-size: 17px;
    font-weight: 700;
}

.notifyFooterBanner {
    width: 100%;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.notifyFooterBannertext {
    position: absolute;
    right: 36%;
    margin-top: 7.5%;
    left: auto;
    color: #3B2977;
    font-size: 45px;
    font-weight: 700;
}

.notifyEnquiryCustomwhite {
    margin-left: 15px;
    font-size: 16px;
    color: #5a5a5a;
    font-weight: 600;
}

