.tthomelogo{
	width: 270px;
    height: 90px;
}
.navbarTransparent {
            border-width: 1px !important;
    /* box-shadow: 0px 0px !important; */
    background-color: rgba(255, 255, 255, 0.9) !important;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0) 100%) !important;

}

.sub-menu .menu-item a{
	text-align: left;
    padding-left: 22% !important;
	color: var(--mainBlue);
	
}



.logoHeader{
    font-size: 18px;
    margin-top: 10px !important;
    font-style: italic !important;
}

.homeSignin{
    font-size: 19px;
    margin-right: 30px;
    padding-top: 5px;
    font-weight: 700;
}

.navbar{
    padding: 0px !important;
}

.navbar-brand{
    padding-top: 0px !important;
}

.nav-link{
    padding: 0px !important;
    margin-right: 35px !important;
}

.navButton{
	border-radius: 20px;
    background: white;
    border: 1px #cc0000 solid;
    height: 30px;
    color: #cc0000;
}

.navButtonA{
	border-radius: 20px;
    background: white;
    border: 1px #000000 solid;
    height: 30px;
    color: #000000;
}

.navButton:hover{
	box-shadow: 0px 0px 15px -2px #cc0000;
}

.navButtonA:hover{
	box-shadow: 0px 0px 15px -2px #000000;
}

.navButtonImg {
	/* margin-left: 10px; */
    margin-top: -3px;
	margin-right: 10px;
	cursor: pointer !important;
    width: 20px !important;
}
.navButtonImgA{
 margin-top: -3px;
	margin-right: 10px;
	cursor: pointer !important;
    width: 20px !important;
}

.navButtonImg1 {
	/* margin-left: 10px; */
    margin-top: -3px;
    margin-right: 10px;
    width: 12px !important;
}


.navbtn1{
	    width: 162px !important;
	padding-left: 12px;
	font-size: 12px !important;
}

.navbtn2{
color:white;
background-color:#cc0000;

	/* width: 100% !important; */
	padding-left: 12px;
	font-size: 12px !important;
}

.navbtn2A{
color:white;
background-color:#000000;

	/* width: 100% !important; */
	padding-left: 12px;
	font-size: 12px !important;
}

.myorder{
	font-size: 10px;
    /* margin-top: -5px; */
    margin-left: -5px;

}
.myorder1{
	font-size: 10px;
    /* margin-top: -5px; */
    margin-left: -10px;

}

.homeHeaderNav{
    font-size: 15px;
    padding-top: 10px;
}

.homeHomeIcon{
    padding-top: 5px;
}

.homeSearchIcon{
    padding-top: 13px;
}

/* For search box  */

.navSearch {
	display: inline-block;
}

.navSearch input {
	outline: none;
}
.navSearch input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
.navSearch input::-webkit-search-decoration,
.navSearch input::-webkit-search-cancel-button {
	display: none; 
}

.navSearch input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 2px 6px 6px 8px;
	width: 55px;
	height: -18px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.navSearch input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: rgb(191, 124, 121);;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


.navSearch input:-moz-placeholder {
	color: #999;
}
.navSearch input::-webkit-input-placeholder {
	color: #999;
}

#demo-2 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: #fff;
}
#demo-2 input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}

 /* Media Queries  */

@media (max-width: 576px) {
    .logoHeader i  {
      font-size: 15px;
    }
  }

.menu {
background: #ffffff;
height: 8rem;
z-index: 1001;
position: sticky;
top: 0;

border-top: none;
width: 100%;
max-width: 1200px;
margin : 0 auto;
}
.menu ol {
list-style-type: none;
margin: 0 auto;
padding: 0;
}
.menu > ol {
padding: 0 2rem;
display: flex;
}
.menu > ol > .menu-item {
flex: 1;
padding: 1em;
}
.menu > ol > .menu-item:after {
/* content: "";
position: absolute;
width: 4px;
height: 4px;
border-radius: 50%;
bottom: 5px;
left: calc(70% - 2px);
background: #FECEAB;
will-change: transform;
transform: scale(0);
transition: transform 0.2s ease; */
}
.menu > ol > .menu-item:hover:after {
transform: scale(1);
cursor: pointer;
}
.menu-item-space {
		padding-left: 15% !important;
}
.navbarLogo {
		width: 165px;
margin-top: -10px;
}

.navbarLogoA {
	width: 45px;
    margin-top: -20px;

}


.menu-item {
position: relative;
line-height: 2.5rem;
text-align: center;
margin-top:10px;


}
.menu-item a {
display: block;
color: #000;
font-weight: 600;
}
.menu-item a:hover {
color: #000;
font-weight: 600;

}


.sub-menu .menu-item {
	/* width: 200px;
padding: 0.75rem 0;
background: white;
opacity: 0;
transform-origin: bottom;
animation: enter 0.15s ease forwards; */

width: 200px;
background: #f3eeee !important;
padding: 0.75rem 0;
cursor: pointer !important;
/* background: white; */
border-bottom: white 1px solid;
opacity: 0;
transform-origin: bottom;
animation: enter 0.15s ease forwards;
margin-top: 0px !important;

}
.sub-menu .menu-item:nth-child(1) {
animation-duration: 0.2s;
animation-delay: 0s;
}
.sub-menu .menu-item:nth-child(2) {
animation-duration: 0.3s;
animation-delay: 0.1s;
}
.sub-menu .menu-item:nth-child(3) {
animation-duration: 0.4s;
animation-delay: 0.2s;
}
.sub-menu .menu-item:nth-child(4) {
animation-duration: 0.5s;
animation-delay: 0.3s;
}
.sub-menu .menu-item:nth-child(5) {
animation-duration: 0.6s;
animation-delay: 0.4s;
}
.sub-menu .menu-item:nth-child(6) {
animation-duration: 0.7s;
animation-delay: 0.5s;
}
.sub-menu .menu-item:nth-child(7) {
animation-duration: 0.8s;
animation-delay: 0.6s;
}
.sub-menu .menu-item:hover {
background: #ccc;	
background-color: #f1cece !important;
}

.sub-menu .menu-item a {
padding: 0 0.75rem;
}

  @media screen and (max-width: 768px) {
	  .sub-menu {
    top: 21rem !important;
}
	.menu {
	  position: relative;
	}
	.menu-item-space {
	      padding-left: 20em !important;
  }
	.menu:after {
	  content: "";
	  position: absolute;
	  top: calc(50% - 2px);
	  right: 1rem;
	  width: 30px;
	  height: 4px;
	  background: black;
	  box-shadow: 0 10px #FFF, 0 -10px #FFF;
	}
	.menu > ol {
	  display: none;
	  background: #ffffff;
	  flex-direction: column;
	  justify-content: center;
	  /* height: 100vh; */
	  animation: fade 0.2s ease-out;
	}
	.mobile_menu {
		display: flex !important;
	}
	.menu > ol > .menu-item {
	  flex: 0;
	  opacity: 0;
	  animation: enter 0.3s ease-out forwards;
	}
	.menu > ol > .menu-item:nth-child(1) {
	  animation-delay: 0s;
	}
	.menu > ol > .menu-item:nth-child(2) {
	  animation-delay: 0.1s;
	}
	.menu > ol > .menu-item:nth-child(3) {
	  animation-delay: 0.2s;
	}
	.menu > ol > .menu-item:nth-child(4) {
	  animation-delay: 0.3s;
	}
	.menu > ol > .menu-item:nth-child(5) {
	  animation-delay: 0.4s;
	}
	.menu > ol > .menu-item + .menu-item {
	  margin-top: 0.75rem;
	}
	.menu > ol > .menu-item:after {
	  left: auto;
	  right: 1rem;
	  bottom: calc(50% - 2px);
	}
	.menu > ol > .menu-item:hover {
	  z-index: 1;
	}

	.menu:hover:after {
	  box-shadow: none;
	}
  }

  .searchbarNav {
position: absolute;
    width: 100%;
    z-index: 1;
    width: 100%;
    /* display: none; */
    /* margin-top: 16px; */
    /* margin-left: -7px; */
	/* animation: fadein 1s ease-in; */
	 animation: createBox 0.5s;
  }

  @keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

  .searchIconinTextbox{
margin: 15px;
  }

  .closeSearchbar {
	 margin-left: 95% !important;
    width: 35px;
    margin: 22px;
  }

  .searchTextbox {
	/* border-radius: 25px !important;  */
	height: 51px !important;
		padding-left: 60px !important;
		padding-right: 60px !important;
		
	margin-top: -3px;
	height: 8.2rem !important;
    border-color: white !important;
    /* border-left: none !important; */
    box-shadow: 0px 0px 23px -4px #ccc !important;
  }
  

	.myorderwidth {
	width: 120% !important;
}
  
  .sub-menu {
	position: absolute;
    width: -1%;
    top: 90%;
    box-shadow: 0px 15px 19px -5px #9e9a9a;
    left: -98%;
    border: 1px solid #cccbcb;
    display: none; 
    z-index: 1;
  }
  .menu-item:hover > .sub-menu {
	display: block;
  }
  @media screen and (max-width: 768px) {
	  
	.sub-menu {
	  width: 100vw;
	  left: -2rem;
	  top: 15em;
	  transform: translateY(-50%);
	}
	.sub-menu .menu-item {
		width: 100vw;
		background: #ffffff;
		cursor:  pointer !important;
	}
	.sub-menu .menu-item:hover {
		background: #fff;
		}
		
  }
  
  
  a {
	text-decoration: none !important;
  }
  
  @keyframes enter {
	from {
	  opacity: 0;
	  transform: scaleY(0.98) translateY(10px);
	}
	to {
	  opacity: 1;
	  transform: none;
	}
  }
  @keyframes fade {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
	


	/* .active {
		color: #b67575 !important;
		text-decoration: underline !important;
	} */

	.codeVersion{
		float: right;
	}
	
button:focus{
 /* border-color:transparent!important; */
 outline:none;}

@media only screen and ( max-width: 990px ) and ( min-width: 768px ){
	.menu > ol > .menu-item{
		padding: 1em 1px;
	}
	.sub-menu{
	left: 	-152%;
	}

	.myorder{
		display: none;
	}

	.myorder1{
		display: none;
	}
	
}

