.react-autosuggest__suggestions-list{
    list-style-type: none;
    padding-top: 6%;
}
.react-autosuggest__suggestions-container--open{
    margin-left: -2.5rem;
    letter-spacing: 0px;
    
}
.react-autosuggest__suggestion{
    background-color: #f2f2f2;
}
.custom-suggestion-row{
    border-bottom: 0.5px solid #e6e6e6;
    padding:1rem
}
.react-autosuggest__input--open{
    border: none;
    

}
.react-autosuggest__input{
    border: none;

}
.showingnoresults{
    text-align: center;
    height: 30rem;
    margin-top: -20px;
    padding: 20px;
}
.searchresults{
    text-align: left;
    padding-left: 3rem;
}
.rectangle{
    /* display: inline-block; */
    width: 90%;
    height: 50px;
    background: white;
    border:groove;
    text-align: left;
    padding: 6px;
    display: inline-flex;
}
.showa1{
    text-align: left;
    margin-top: 5px;
}
.showa2{
    margin-left: 10rem;
    margin-top: 4px;
}
.showa3{
    margin-left: 5rem;
    margin-top: 4px;
}
.showa4{
margin-left: 5rem;
margin-top: 4px;
}
.headingsearch{
    font-size: 30px;
}
.filteronsearch{
    border: 1px solid #666666;
    padding: 10px;
    font-size: 15px;
}
.padding15{
    padding:15px
}
.logosearch{
    width: 26px;
    margin-left: 7px;
    margin-right: 7px;
}
.padding0{
    padding: 0px!important;
}

.mobileAddSearchCross {
    width: 15px;
    left: 90%;
    top: 3rem;
}

.mobileAddSearchInput {
    border: none;
    margin-left: 18px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    font-size: 20px;
    padding: 3px 0px 7px 73px;
    height: 66px;
}

.hideMobileGlobalSearch {
    display: block;
}

.hideDesktopGlobalSearch {
    display: none;
}

@media only screen and ( max-width: 767px ) {
    .mobileAddSearchCross {
        top: "2rem";
    }

    .mobileAddSearchInput {
        margin-left: 0px;
        font-size: 13px;
        padding: 3px 0px 7px 50px;
    }
}

@media only screen and ( max-width: 680px ) {
    .hideMobileGlobalSearch {
        display: none;
    }

    .hideDesktopGlobalSearch {
        display: block;
    }
}
