.cpdetails {
    width: 240px;
    margin: auto!important;
    overflow-y: hidden;
    
}
.productname1 {
    font-size: 16px;
    margin-top: 6px;
    padding: 0px 15px 0px 15px;
    height:46px;
}
.logoincard1 {
    width: 48px;
    
}
.mb7{
    margin-bottom :10px;
}
.Exclusively1 {
    font-size: 14px;
    text-align: center;
    /* margin-top: 5px; */
    color: #B501A1;
    font-weight: 600;
}
.Made_to_order1 {
    font-size: 14px;
    text-align: center;
    color: #3B8B91;
    font-weight: 400;
}
.Available1 {
    font-size: 14px;
    text-align: center;
    /* margin-top: 5px; */
    color: #199351;
    font-weight: 300;
}
.in_stock1 {
    font-size: 14px;
    text-align: center;
    color: green;
    font-weight: 400;
}
.noproduct{
    font-size: 19px;
    margin-top: 88px;
}
.cpbackground1 {
    /* background-image: url(/static/media/Cluster back ground .74c63906.svg); */
    background-image: linear-gradient(180deg, #ffffff 0%, rgba(255, 235, 255, 0.867) 90%, rgba(255, 197, 255, 0.867) 100%);
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top: -75px;
}
.font25{
    font-size:25px;
}
.cpimagediv:hover .middle1{
    opacity: 1;
 }
 .middle1 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}







/* ---------------------------------------  */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 0px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }