.Asdh1{
    background-color: black;
    width: 100%;
    height: 87vh;
    color: white;
    background-image: url("../../assets/Asdbg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}
.Asdh1 h1{
    font-size: 70px;
    font-weight: 700;
    font-family: auto;
    
}
.Col6{
    position: relative;
    min-height: 1px;
    padding-right: 0 !important;
    padding-left: 15px;
   
}
.Asdh1 p{
    font-size: 40px;
    font-weight: 100;
    font-family: auto;
    
   
}
.ViewColtext p{
      margin-top: 30px;
    font-size: 25px;
    font-family: auto;
    font-weight: 100;
    color: lightslategray;
}
.Vcheading h1{
    font-size: 37px;
    /* font-weight: 700; */
    font-family: auto;
    text-align: left;
    color: grey;
    margin-bottom: 40px;
}
.selectedNavbarTab{
    color: Black !important;
    font-weight: 700; 
    text-align: left;
}
.Asdbg{
    height: 87vh;
    width: 100%;
}
.SelectCategory{
    width: 96%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid lightgray;
    font-size: 15px;
}
.SelectCategory option{
    font-size: 15px;
}
/* --------Artisian Self Design Region Css start------------ */
.card-img-top{
    width: 50vh;
    height: 223px;
    padding: 0px 5px 0px 5px;

}
.Cardlayout{
    width: 50vh;
    box-shadow: 2px 2px 4px 4px lightgrey;
}
.card-title{
font-size: 17px;
padding: 11px 0px 0px 19px;
font-weight: 500;
font-family: auto;
}

.card-text{
    font-size: 20px;
    padding: 0px 0px 0px 19px;
    font-weight: 700;
    font-family: auto;
}

.hrlineasd {
    width: 100%;
    border-top: 2.5px solid grey;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
.rowmargintop{
    margin-top: 30px;
}
  .asdseemore{
    margin-top: 42px;
    margin-bottom: 10px;
    margin-left: 0px;
    font-family: auto;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid transparent;
  }
@media only screen and ( max-width: 768px ) and ( min-width: 426px ){
    .Cardlayout{
        width: 45vh;
           }
           .card-img-top{
            width: 45vh;
        }
        .Vcheading h1{
            font-size: 27px;}
}
@media only screen and ( max-width: 1024px ) and ( min-width: 769px ){
    .Vcheading h1{
        font-size: 35px;}
}
/* --------Artisian Self Design Region Css End------------ */
.Rowtop{
    margin-top: 30px;
}

.card-img-top-brand{
    width:40vh;
    height:170px;
    padding: 0px 5px 0px 5px;
}