.Asdh1{
    /* background-color: black; */
    width: 100%;
    /* height: 521px;S */
    color: white;
   margin-top: 93px;
    
}
.asdthreadbg{
    background-color: black;
    background-image: url("../../assets/Asdbg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 521px;
}
.acdthreadbg{
  background-color: black;
  background-image: url("../../assets/Antaranbgthread.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 521px;
}
.Asdh1 h1{
    font-size: 66px;
    font-weight: 700;
    font-family: auto;
    
}
.Col6{
    position: relative;
    min-height: 1px;
    padding-right: 0 !important;
    padding-left: 15px;
   
}
.Asdh1 p{
    font-size: 40px;
    font-weight: 100;
    font-family: auto;
    
}
.ViewColtext p{
      margin-top: 30px;
    font-size: 25px;
    font-family: auto;
    font-weight: 100;
    color: lightslategray;
}
.Vcheading h1{
    font-size: 30px;
    /* font-weight: 700; */
    font-family: auto;
    text-align: left;
    color: grey;
    margin-bottom: 40px;
}
.selectedNavbarTab{
    color: Black !important;
    font-weight: 700; 
    text-align: left;
    font-size: 39px;
}
.Asdbg{
    height: 521px;
    /* width: 100%; */
    float: right;
}
.SelectCategory{
  width: 100%;
  padding: 13px 13px 13px 13px;
  margin-bottom: 40px;
  border: 1px solid lightgray;
  font-size: 20px;
  font-family: auto;
  border-radius: 4px;
}
.SelectCategory option{
  font-size: 25px;
 }
 @media (max-width: 767px) and (min-width:431px) {
  .Cardlayout {
    width: 80% !important;
  }
  .card-img-top {
    width: 100% !important;
    object-fit: cover;
  }
  .asdthreadbg{
    height: 267px !important;
  }
  .Asdh1 h1 {
    font-size: 40px !important;
  }
  .Asdh1 p {
    font-size: 26px;
  }
  .BPDAntaranlogo{
    height: 34px !important;
  }
  .Asdh1 {
    margin-top: 3px;
  }
  .Asdbg {
    height: 265px;
    width: 100%;
    float: none;
}
.ViewColtext p {
  margin-top: -43px;
  color: b;
}
.selectedNavbarTab {
  color: black !important;
}
.Vcheading h1 {
  color: black;
  font-size: 25px;
}
.Artisianleft{
  margin-left: -10px !important;
}
.colorWhite h1{
  color: white !important;
}
 }


 @media (max-width: 430px) {
  .asdthreadbg{
    height: 267px !important;
  }
  .Asdh1 h1 {
    font-size: 40px !important;
  }
  .Asdh1 p {
    font-size: 26px;
  }
  .BPDAntaranlogo{
    height: 34px !important;
  }
  .Asdh1 {
    margin-top: 3px;
  }
  .Asdbg {
    height: 265px;
    width: 100%;
    float: none;
}
.ViewColtext p {
  margin-top: -43px;
  color: white;
}
.selectedNavbarTab {
  color: #ff9d9d !important;
}
.Vcheading h1 {
  color: black;
  font-size: 25px;
}
.Artisianleft{
  margin-left: -10px !important;
}
.Cardlayout {
  width: 77% !important;
}
.card-img-top {
  min-width: 0px !important;
  width: 100% !important;
}
}
/* --------Artisian Self Design Region Css start------------ */
.card-img-top{
  width: auto;
  height: 223px;
  /* padding: 0px 5px 0px 5px; */
  min-width: 304px;
}
.card-title{
font-size: 17px;
padding: 11px 0px 0px 19px;
font-weight: 500;
font-family: auto;
}

.card-text{
    font-size: 20px;
    padding: 0px 0px 0px 19px;
    font-weight: 700;
    font-family: auto;
}
.overflownhidden{
  overflow-x: hidden;
}
.headimgposter{
  padding:0px!important;
  overflow-x: hidden;
}
.card-text1{
  font-size: 20px;
  padding: 0px 0px 0px 0px;
  font-weight: 700;
  font-family: auto;
  margin-top: 7px;

}
.hrlineasd {
    width: 100%;
    border-top: 2.5px solid grey;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
.rowmargintop{
    margin-top: 30px;
}
  .asdseemore{
    margin-top: 42px;
    margin-bottom: 10px;
    margin-left: 0px;
    font-family: auto;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid transparent;
  }
/* @media only screen and ( max-width: 768px ) and ( min-width: 767px ){
    .Cardlayout{
        width: 100% !important;
           }
           .card-img-top{
            width: 100%;
        }
        .Vcheading h1{
            font-size: 27px;}
            .ExploreBtn{
                width: 43% !important;}
        .btnexp2{
            margin-right: 97px !important;
        }
} */
@media only screen and ( max-width: 1024px ) and ( min-width: 769px ){
    .Vcheading h1{
        font-size: 29px;
      margin-left: 10px;}
    
}

/* --------Artisian Self Design Region Css End------------ */
.Rowtop{
    margin-top: 30px;
}

.card-img-top-brand{
  /* width: 40%;  */
  height: 170px;
  padding: 0px 5px 0px 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  max-width: 244px;
  margin-top: 12px;
}
.cardaligntext{
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
}
/* ----------------Card hover----------------- */

  .Cardlayout {
    position: relative;
    margin-bottom: 30px!important;
    width: 84%;
    box-shadow: 2px 2px 4px 4px lightgrey;
    overflow: hidden;
    background-color: white;
    margin: auto;

  }

  .Cardlayout .effect-img {
    position: relative;
    font-size: 0;
    overflow: hidden;
  }
  
  .Cardlayout .effect-img img {
    position: relative;
    width: 100%;
    height: auto;
    transform: scale(1.2);
    bottom: -25px;
    transition: .5s;
  }
  
  .Cardlayout:hover .effect-img img {
    bottom: 0;
  }
  
  .Cardlayout .effect-text {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30px;
    top: 50%;
    left: 0;
    text-align: center;
    background: rgba(0, 0, 0, .07);
    opacity: 0;
    transition: .5s;
  }
  
  .Cardlayout:hover .effect-text {
    top: 0;
    opacity: 1;
  }
  
  
  
  .Cardlayout .effect-btn {
    position: absolute;
    width: 100%;
    padding: 15px 7.5px;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
  }
  
  .Cardlayout .effect-text h2 {
   
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    float: left;
    margin: 10px 0.5px 0px 6px;
}
  
  .Cardlayout .effect-btn .btn {
    position: relative;
    display: inline-block;
    float: right;
    height: 35px;
    padding: 7px 15px;
    margin: 0 7.5px;
    color: white;
    /* background: #333333; */
    text-decoration: none;
    border: none;
  }

  

  /* -----Dropdown css-------- */
 