.cp1heading{
    font-size: 40px;
}
.cpbackground{
    background-image: url("../../assets/Cluster\ back\ ground\ .svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top: -100px;
}
.margin-cparrow {
    margin-top: 17px;
    margin-right: 15px;
}
.cparrowsize {
    width: 44px!important;
}
.cpproduct{
    font-size: 36px;
    color: grey;
}
.cpheadmargin{
    margin-top:100px;
}
.stockmargin{
    margin-left:1px!important;
}
.cpCardlayout {
    position: relative;
    margin: auto;
    width: 240px;
    box-shadow: 2px 2px 4px 4px lightgrey;
    overflow: hidden;
    background-color: white;
    margin-bottom: 30px;
    
}
.cpCardlayout:hover{
    box-shadow:10px 10px 25px 5px #ccc;
     transform:scale(1.05);
    transition: all 0.3s ease-in;
    z-index: 1000;

}
.descriptionbox{
    height: 160px;
    overflow-y: hidden;
}
.ml7{
    margin-left: 7px;
}
.Available{
    font-size: 9px;
    text-align: center;
    margin-top: 5px;
    color: green;
    font-weight: 300;
}
.in_stock{
    font-size: 9px;
    text-align: center;
    color: green;
    font-weight: 400;
}
.cpimagediv{
    width: 240px;
    height: 240px;
    overflow: hidden;
}
.cpimagediv:hover .cpimage{
    transform: scale(1.1);
  transform-origin: 50% 50%;
}
.cpimagediv:hover .cpyellowdiv{
   opacity: 1;
}
.cpyellowdiv{

    vertical-align: middle;
    padding: 10px 15px 10px 15px;
    opacity: 0;
    position: absolute;
    top: 20px;
    left: 20px;
    height: 200px;
    width: 200px;
    /* background-image:url("../../assets/backdrop-blur.svg") ; */
    background: #EAEAEA 0% 0% no-repeat padding-box;
    border-radius: 8px;
    /* opacity: 1; */
    backdrop-filter: blur(42px);
    -webkit-backdrop-filter: blur(42px);
    -webkit-filter: brightness(1);
}
.cpimage{
    width: 100%;

}
.logoincard{
    width: 26px;
}
.cpdetails{
    width: 240px;
    margin: auto!important;
}
.cpline{
    margin-top:5px;
    margin-bottom:0px;
}
.generateEnquiry{
    width: 100%;
    background-color: black;
    color: white;
    margin-bottom: 0px;
    border: none;
    height: 42px;
    font-size: 14px;
    font-weight: 300;
    padding-left: 18px;
    text-align: left;

}
.navButtonImg2 {
    margin-left: 2px;
    margin-top: 4px;
    margin-right: 10px;
    cursor: pointer !important;
    width: 20px !important;
}
.cpwishlist{
    padding: 0px!important;
    margin-top: 5px;
}
.productname{
    font-size: 16px;
    margin-top: 8px;
}