.has-float-label {
    display: block;
    position: relative; }
    .has-float-label label, .has-float-label > span {
      position: absolute;
      left: 0;
      top: 0;
      cursor: text;
      font-size: 95%;
      opacity: 1;
      -webkit-transition: all .2s;
              transition: all .2s;
      top: -.5em;
      left: 12px;
      z-index: 3;
      line-height: 1;
      padding: 0 1px;
      color: #EC5F57;
      font-weight: 600;
    outline: none; }
      .has-float-label label::after, .has-float-label > span::after {
        content: " ";
        display: block;
        position: absolute;
        background: white;
        height: 2px;
        top: 50%;
        left: -.2em;
        right: -.2em;
        z-index: -1; }
    .has-float-label .form-control::-webkit-input-placeholder {
      opacity: 0;
      -webkit-transition: all .2s;
              transition: all .2s; }
    .has-float-label .form-control::-moz-placeholder {
      opacity: 0;
      transition: all .2s; }
    .has-float-label .form-control:-ms-input-placeholder {
      opacity: 0;
      transition: all .2s; }
    .has-float-label .form-control::placeholder {
      opacity: 0;
      -webkit-transition: all .2s;
              transition: all .2s; }
    .has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
      opacity: 0; }
    .has-float-label .form-control:placeholder-shown:not(:focus)::-moz-placeholder {
      opacity: 0; }
    .has-float-label .form-control:placeholder-shown:not(:focus):-ms-input-placeholder {
      opacity: 0; }
    .has-float-label .form-control:placeholder-shown:not(:focus)::placeholder {
      opacity: 0 !important; }
    .has-float-label .form-control:placeholder-shown:not(:focus) + * {
      font-size: 130%;
      opacity: .5;
      top: .3em;
      font-weight: 500;
      padding: 15px;
     }
  
  .input-group .has-float-label {
    display: table-cell; }
    .input-group .has-float-label .form-control {
      border-radius: 4px; }
    .input-group .has-float-label:not(:last-child) .form-control {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0; }
    .input-group .has-float-label:not(:first-child) .form-control {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      margin-left: -1px; }

      #username, #password, #otp, #mobile, #countryCode, #confirm_password, #verifyKey {
        height: 60px !important;
      }

      #username {
        padding: 0.375rem 2.50rem;
      }

#username:focus, #password:focus, #otp:focus, #mobile:focus, #countryCode:focus, #confirm_password:focus, #verifyKey:focus {
        border: 2px solid #EC5F57 !important;
        padding: 0.375rem 2.50rem;
      }

      .has-float-label label, .has-float-label > span {
        left: 25px !important; 
      }

.container-box {
    width: 100%;
    box-shadow: 7px 7px 35px 11px rgba(204, 204, 204, 0.6705882352941176);
    margin: auto;
    margin-top: 10%;
    border-radius: 5px;
}

.login-box-inner {
    padding: 30px;
}

.container-box h4 {
    margin-top: 10px;
    font-size: 20px;
    color: rgb(191, 124, 121);
    font-weight: 300;
}

.container-box h2 {
    margin-top: 20px;
    color: rgb(191, 124, 121);
}

.login-box-inner .form-group {
    margin-bottom: 1.5rem !important;
}

.button-lightred {
    margin-top: 20px;
    background-color: #EC5F57 !important;
    border: 0 !important;
}

.register-text {
    margin-top: 15px;
}

.register-text span:nth-child(1) {
    color: #EC5F57;
    font-weight: 300;
}

.register-text span:nth-child(2) > a {
    color: #EC5F57;
    font-weight: 600;
    cursor: pointer;
}

.register-text span > a {
    color: #EC5F57;
    font-weight: 600;
    cursor: pointer;
}


@media (min-width: 960px) {
    .container-box {
        width: 450px;
    }
}


.privacy-text {
    margin-top: 30px;
    color: #818A96;
    font-weight: 500;
    text-align: center;
    position: relative;
    bottom: 0;
}

/* font-size: 18px;
    margin: 20px 22px 10px 22px; */