.BPDAntaranlogo{
  height: 45px;
}
.BPDAntaranlogo2{
  height: 85px;
}
.BPDCol2{
  font-family: auto;
  }

  .BPDCol2 h1{
    font-size: 38px;
    }
  
.BPDCol2 p {
  font-size: 19px;
  color: gray;
  font-family: none;
  letter-spacing: 0.1px;
}

.BPDBrandname{
  font-size: 21px;
    font-weight: 600;
    color: midnightblue;
    /* height: 30px; */
    opacity: 0.7;
}
.hrlineBPD {
  width: 100%;
  border-top: 0.5px solid lightgrey;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.BPDartisianame{
  font-size: 20px;
}

.brandcolor{
  color: midnightblue;
    /* height: 30px; */
    opacity: 0.7;
}
.BDPdetailscol p{
  color: black;
  font-size: 17px;
}

.BDPdetailscol span{
  color: gray;
}
.BPDSeemorelink a{
  color: #337ab7;
  text-decoration: none;
  float: right;
  font-size: 18px;
}

.BPDStockstatus{
  font-size: 17px;
  color: forestgreen;
}

/* .Generate eng button==== */
.arrowPacman {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 25px;
}
.arrowPacman svg {
  height: 16px;
  width: 21px;
}
.arrowPacman svg:last-of-type {
  margin-left: 4px;
}
.arrowPacman svg g {
  fill: rgba(9, 12, 16, 0.75);
  -webkit-transition: fill 125ms;
  transition: fill 125ms;
}

.arrowPacman-clip {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  -webkit-transform: translateX(-25px);
          transform: translateX(-25px);
  width: 46px;
}

@-webkit-keyframes pacman {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes pacman {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@media (min-width: 560px) {
  .buttons {
    -webkit-box-align: center;
            align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
            margin-left: -19px;
  }
}
.buttons button {
  width: 86%;
}
@media (min-width: 560px) {
  .buttons button {
    width: 100%;
    height: 53px;
  }
}
.buttons button:not(:first-of-type) {
  margin-top: 1rem;
}
@media (min-width: 560px) {
  .buttons button:not(:first-of-type) {
    margin-left: 1rem;
    margin-top: 0;
  }
}

.bpdbutton {
  --button-background: transparent;
  --button-height: 64px;
  --button-color: black;
  background-color: var(--button-background);
  border-radius: 4px;
  border: 0;
  box-shadow: none;
  color: var(--button-color);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  height: var(--button-height);
  line-height: var(--button-height);
  padding-left: 1rem;
  padding-right: 2rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  -webkit-transition: box-shadow 150ms cubic-bezier(0.61, 1, 0.88, 1);
  transition: box-shadow 150ms cubic-bezier(0.61, 1, 0.88, 1);
  white-space: nowrap;
}
.bpdbutton:hover, .bpdbutton:focus {
  box-shadow: 0 3px 7px 1px rgba(50, 50, 50, 0.25);
}
.bpdbutton:hover .arrowPacman-clip, .bpdbutton:focus .arrowPacman-clip {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-name: pacman;
          animation-name: pacman;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.21, 1);
          animation-timing-function: cubic-bezier(0.55, 0, 0.21, 1);
}
.bpdbutton.-bg-yellow {
  --button-background: black;
}

.bpdbutton > span {
  display: block;
  line-height: 1;
  padding-right: 1.5rem;
}
.bpdbutton > span:first-of-type {
     color: white;
    font-size: 15px;
    line-height: 1.5;
    font-family: sans-serif;
}


/* ---------------- Wishlist btn---------- */

[id='toggle-heart'] {
  position: absolute;
  left: -100vw;
}
[id='toggle-heart']:checked + label {
  color: #e2264d;
  -webkit-filter: none;
          filter: none;
  will-change: font-size;
  /* -webkit-animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
          animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49); */
        
}
[id='toggle-heart']:checked + label:before, [id='toggle-heart']:checked + label:after {
  -webkit-animation: inherit;
          animation: inherit;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
[id='toggle-heart']:checked + label:before {
  will-change: transform, border-width, border-color;
  -webkit-animation-name: bubble;
          animation-name: bubble;
}
[id='toggle-heart']:checked + label:after {
  will-change: opacity, box-shadow;
  -webkit-animation-name: sparkles;
          animation-name: sparkles;
}
[id='toggle-heart']:focus + label {
  text-shadow: 0 0 3px white,  0 1px 1px white, 0 -1px 1px white,  1px 0 1px white, -1px 0 1px white;
}

[for='toggle-heart'] {
  align-self: center;
  position: relative;
  color: black;
  font-size: 26px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  padding: 0px 10px 10px 27px;
}
[for='toggle-heart']:before, [for='toggle-heart']:after {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  content: '';
}
[for='toggle-heart']:before {
  box-sizing: border-box;
  margin: -2.25rem;
  border: solid 2.25rem #e2264d;
  width: 4.5rem;
  height: 4.5rem;
  -webkit-transform: scale(0);
          transform: scale(0);
}
[for='toggle-heart']:after {
  margin: -0.1875rem;
  width: 0.375rem;
  height: 0.375rem;
  box-shadow: 0.32476rem -3rem 0 -0.1875rem #ff8080, -0.32476rem -2.625rem 0 -0.1875rem #ffed80, 2.54798rem -1.61656rem 0 -0.1875rem #ffed80, 1.84982rem -1.89057rem 0 -0.1875rem #a4ff80, 2.85252rem 0.98418rem 0 -0.1875rem #a4ff80, 2.63145rem 0.2675rem 0 -0.1875rem #80ffc8, 1.00905rem 2.84381rem 0 -0.1875rem #80ffc8, 1.43154rem 2.22414rem 0 -0.1875rem #80c8ff, -1.59425rem 2.562rem 0 -0.1875rem #80c8ff, -0.84635rem 2.50595rem 0 -0.1875rem #a480ff, -2.99705rem 0.35095rem 0 -0.1875rem #a480ff, -2.48692rem 0.90073rem 0 -0.1875rem #ff80ed, -2.14301rem -2.12438rem 0 -0.1875rem #ff80ed, -2.25479rem -1.38275rem 0 -0.1875rem #ff8080;
}

@-webkit-keyframes heart {
  0%, 17.5% {
    font-size: 0;
  }
}

@keyframes heart {
  0%, 17.5% {
    font-size: 0;
  }
}
@-webkit-keyframes bubble {
  15% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border-color: #cc8ef5;
    border-width: 2.25rem;
  }
  30%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border-color: #cc8ef5;
    border-width: 0;
  }
}
@keyframes bubble {
  15% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border-color: #cc8ef5;
    border-width: 2.25rem;
  }
  30%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border-color: #cc8ef5;
    border-width: 0;
  }
}
@-webkit-keyframes sparkles {
  0%, 20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    box-shadow: 0.32476rem -2.4375rem 0 0rem #ff8080, -0.32476rem -2.0625rem 0 0rem #ffed80, 2.1082rem -1.26585rem 0 0rem #ffed80, 1.41004rem -1.53985rem 0 0rem #a4ff80, 2.30412rem 0.85901rem 0 0rem #a4ff80, 2.08305rem 0.14233rem 0 0rem #80ffc8, 0.76499rem 2.33702rem 0 0rem #80ffc8, 1.18748rem 1.71734rem 0 0rem #80c8ff, -1.35019rem 2.0552rem 0 0rem #80c8ff, -0.60229rem 1.99916rem 0 0rem #a480ff, -2.44865rem 0.22578rem 0 0rem #a480ff, -1.93852rem 0.77557rem 0 0rem #ff80ed, -1.70323rem -1.77366rem 0 0rem #ff80ed, -1.81501rem -1.03204rem 0 0rem #ff8080;
  }
}
@keyframes sparkles {
  0%, 20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    box-shadow: 0.32476rem -2.4375rem 0 0rem #ff8080, -0.32476rem -2.0625rem 0 0rem #ffed80, 2.1082rem -1.26585rem 0 0rem #ffed80, 1.41004rem -1.53985rem 0 0rem #a4ff80, 2.30412rem 0.85901rem 0 0rem #a4ff80, 2.08305rem 0.14233rem 0 0rem #80ffc8, 0.76499rem 2.33702rem 0 0rem #80ffc8, 1.18748rem 1.71734rem 0 0rem #80c8ff, -1.35019rem 2.0552rem 0 0rem #80c8ff, -0.60229rem 1.99916rem 0 0rem #a480ff, -2.44865rem 0.22578rem 0 0rem #a480ff, -1.93852rem 0.77557rem 0 0rem #ff80ed, -1.70323rem -1.77366rem 0 0rem #ff80ed, -1.81501rem -1.03204rem 0 0rem #ff8080;
  }
}

.BPDwishlist{
  border: 2px solid;
    height: 53px;
    width: 86%;
}
.Addtowishlisttext{
  font-size: 15px !important;
  font-family: sans-serif;
}

.BPDwishlist:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}

@media (min-width: 560px) and (max-width: 1024px) {
[for='toggle-heart'] {
  
  padding: 0px 10px 10px 10px;
}

.BPDwishlist{
  
    width: 100%;
}
}