.BPDAntaranlogo{
  height: 45px;
}
.BPDAntaranlogo2{
  height: 85px;
}
.BPDCol2{
  font-family: auto;
  }

  .BPDCol2 h1{
    font-size: 38px;
    }
  
.BPDCol2 p {
  font-size: 19px;
  color: gray;
  font-family: none;
  letter-spacing: 0.1px;
  text-align: justify;
}

.BPDBrandname{
  font-size: 21px;
    font-weight: 600;
    color: midnightblue;
    /* height: 30px; */
    opacity: 0.7;
}
.hrlineBPD {
  width: 100%;
  border-top: 0.5px solid lightgrey;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.BPDartisianame{
  font-size: 20px;
}

.brandcolor{
  color: midnightblue;
    /* height: 30px; */
    opacity: 0.7;
}
.BDPdetailscol p{
  color: black;
  font-size: 17px;
}

.BDPdetailscol span{
  color: gray;
}
.BPDSeemorelink a{
  color: #337ab7;
  text-decoration: none;
  float: right;
  font-size: 18px;
}
.hrproductBPD{
  width: 10%;
    border-top: 2.5px solid rgba(51, 51, 51, 0.84);;
    margin-top: -7px;
    text-align: center;
}
.Productdetailsh2{
  text-align: center;
  color: rgba(51, 51, 51, 0.84);
}
.BPDStockstatus{
  font-size: 17px;
  color: forestgreen;
}
.DescheadingBPD{
  color: rgba(51, 51, 51, 0.84);
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 20px;

}
.GeneralDetailsh3{
font-size: 15px;
font-weight: 700;
text-align: justify;
}

.GeneralDetailsp{
  font-size: 17px;
    font-weight: 600;
    color: rgba(51, 51, 51, 0.84);
    
}
html{
scroll-behavior: smooth;
}

.MoresareeBPD{
  text-align: center;
  font-weight: 600;
  color: rgba(51, 51, 51, 0.84);
  font-size: 18px;
  margin-bottom: 40px;
}

.backtotopbdp{
  text-align: center;
  color: #337ab7;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}
.BDPWashcare{
  color: cornflowerblue;
    font-size: 14px;
    font-weight: 600;
}
.lottie {
  width: 100px;
  height: 100px;
  cursor: pointer;
  filter: grayscale(1);
  transition: filter .25s ease-in;
}

.lottie.is-active {
  filter: none;
}
/* =================Card============= */
.CardlayoutBDP{position: relative;
    margin-bottom: 30px;
    width: 100%;
    box-shadow: 2px 2px 4px 4px lightgrey;
    overflow: hidden;
    background-color: white;
    height: 234px;
}
.card-text-BDP {
  font-size: 15px;
  font-weight: 700;
  font-family: auto;
  padding: 0px 0px 0px 12px;
}
/* .Generate enq button==== */
.arrowPacman {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 25px;
}
.arrowPacman svg {
  height: 16px;
  width: 21px;
}
.arrowPacman svg:last-of-type {
  margin-left: 4px;
}
.arrowPacman svg g {
  fill: rgba(9, 12, 16, 0.75);
  -webkit-transition: fill 125ms;
  transition: fill 125ms;
}

.arrowPacman-clip {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  -webkit-transform: translateX(-25px);
          transform: translateX(-25px);
  width: 46px;
}

@-webkit-keyframes pacman {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes pacman {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@media (min-width: 560px) {
  .buttons {
    -webkit-box-align: center;
            align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
            margin-left: -19px;
            border: 2px solid black;
  }
}
.buttons button {
  width: 86%;
}
@media (min-width: 560px) {
  .buttons button {
    width: 100%;
    height: 53px;
  }
}
.buttons button:not(:first-of-type) {
  margin-top: 1rem;
}
@media (min-width: 560px) {
  .buttons button:not(:first-of-type) {
    margin-left: 1rem;
    margin-top: 0;
  }
}

.bpdbutton {
  --button-background: transparent;
  --button-height: 64px;
  --button-color: black;
  background-color: var(--button-background);
  /* border-radius: 4px; */
  border: 0;
  box-shadow: none;
  color: var(--button-color);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  height: var(--button-height);
  line-height: var(--button-height);
  padding-left: 1rem;
  padding-right: 2rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  -webkit-transition: box-shadow 150ms cubic-bezier(0.61, 1, 0.88, 1);
  transition: box-shadow 150ms cubic-bezier(0.61, 1, 0.88, 1);
  white-space: nowrap;
}
.bpdbutton:hover, .bpdbutton:focus {
  box-shadow: 0 3px 7px 1px rgba(50, 50, 50, 0.25);
}
.bpdbutton:hover .arrowPacman-clip, .bpdbutton:focus .arrowPacman-clip {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-name: pacman;
          animation-name: pacman;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.21, 1);
          animation-timing-function: cubic-bezier(0.55, 0, 0.21, 1);
}
.bpdbutton.-bg-yellow {
  --button-background: black;
}
.bpdbutton.-bg-white {
  --button-background: white;
}
.bpdbutton > span {
  display: block;
  line-height: 1;
  padding-right: 1.5rem;
}
.bpdbutton > span:first-of-type {
     color: white;
    font-size: 15px;
    line-height: 1.5;
    font-family: sans-serif;
}


/* ---------------- Wishlist btn---------- */
@media only screen and (max-width: 1024px) and (min-width:769px){
.love-icon{
  margin-left: 140px !important;
  width: 16px !important;
  height: 16px !important;
}
}
@media only screen and (max-width: 768px) {
  .love-icon{
    margin-left: 125px !important;
    width: 16px !important;
    height: 16px !important;
  }
  }
.Addtowishlisttext{
  color:black !important;
  font-family: 15px;
  font-weight: 700;
}
.love-icon {
  --heart-color: black;
  --heart-active-color: Red;
  --bg-color: white;
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: -19px;
  margin-left: 189px;

}
.love-icon input {
  position: absolute;
  opacity: 0;
}
.love-icon input:checked ~ * {
  --heart-color: var(--heart-active-color);
}
.love-icon input:checked ~ .heart {
  animation: scale-out-elastic 1.2s ease-out reverse forwards;
}
.love-icon input:checked ~ .lines .line::before {
  animation: slide-left-right 0.4s ease-in forwards;
}
.love-icon input:checked ~ .ring {
  background:darkblue;
  animation: scale-out-bigger 0.75s cubic-bezier(0, 1, 0.5, 1) forwards;
}
.love-icon input:checked ~ .ring::before {
  animation: scale-out 0.75s cubic-bezier(0, 1, 0.5, 1) forwards;
}
.love-icon .heart {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--heart-color);
  cursor: pointer;
  transform: rotate(-45deg);
}
.love-icon .heart::before, .love-icon .heart::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 50%;
}
.love-icon .heart::before {
  top: -50%;
}
.love-icon .heart::after {
  right: -50%;
}
.love-icon .lines {
  position: absolute;
  top: 4px;
  z-index: 1;
  width: 16px;
  height: 16px;
  pointer-events: none;
}
.love-icon .lines .line {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 1px;
  opacity: 0.6;
}
.love-icon .lines .line:nth-child(1) {
  transform: rotate(90deg) translate(36px);
}
.love-icon .lines .line:nth-child(2) {
  transform: rotate(150deg) translate(36px);
}
.love-icon .lines .line:nth-child(3) {
  transform: rotate(210deg) translate(36px);
}
.love-icon .lines .line:nth-child(4) {
  transform: rotate(270deg) translate(36px);
}
.love-icon .lines .line:nth-child(5) {
  transform: rotate(330deg) translate(36px);
}
.love-icon .lines .line:nth-child(6) {
  transform: rotate(390deg) translate(36px);
}
.love-icon .lines .line::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--heart-color);
  transform: scaleX(0);
  transform-origin: left;
}
.love-icon .ring {
  position: relative;
  z-index: -1;
  top: -60%;
  left: -43%;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  opacity: 0.3;
  pointer-events: none;
}
.love-icon .ring::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  border-radius: inherit;
  transform: scale(0);
  pointer-events: none;
}

@keyframes scale-out-elastic {
  0% {
    transform: rotate(-45deg) scale(1);
  }
  4% {
    transform: rotate(-45deg) scale(1);
  }
  8% {
    transform: rotate(-45deg) scale(1);
  }
  14% {
    transform: rotate(-45deg) scale(1);
  }
  18% {
    transform: rotate(-45deg) scale(1);
  }
  26% {
    transform: rotate(-45deg) scale(1.01);
  }
  28% {
    transform: rotate(-45deg) scale(1.01);
  }
  40% {
    transform: rotate(-45deg) scale(0.98);
  }
  42% {
    transform: rotate(-45deg) scale(0.98);
  }
  56% {
    transform: rotate(-45deg) scale(1.05);
  }
  58% {
    transform: rotate(-45deg) scale(1.04);
  }
  72% {
    transform: rotate(-45deg) scale(0.87);
  }
  86% {
    transform: rotate(-45deg) scale(1.37);
  }
  100% {
    transform: rotate(-45deg) scale(0);
  }
}
@keyframes slide-left-right {
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50.1% {
    transform-origin: right;
  }
  100% {
    transform-origin: right;
  }
}
@keyframes scale-out {
  to {
    transform: scale(1.02);
  }
}
@keyframes scale-out-bigger {
  to {
    transform: scale(1.5);
  }
}
