.margin-login {
    font-weight: 600;
    margin-top: 0.3em;   
    font-family: var(--PlayfairFont);
}

.margin-registertext {
    font-weight: 600;
    margin-top: 0.1em;   
    font-family: var(--PlayfairFont);
}

.margin-roletext{
    float: left;
    margin-left: 35%;
    margin-top: -0.5em;
    color: grey;
     font-family: var(--LatoFont);
}
.margin-roletext1{
    float: left;
    margin-left: 31%;
    margin-top: -0.5em;
    color: grey;
     font-family: var(--LatoFont);
}
.margin-arrow {
    margin-top: 1.3em;
    margin-left: 2em;
}

