:root{
  --lightGreen:#DBFFDE;
  --mainGreen:#00B939;
  --darkGreen:#009A2F;
  --mainBlue:#3964D9;
  --mainBlack:#000000;
  --redButtonAll :#cc0000; 
  --texBlue: #0083be; 
  --mainFont: #ffffff;
  --PlayfairFont: 'Playfair Display', serif;
  --LatoFont : 'lato', sans-serif ;
  --lightFont : #8e8e8e;
  --lightBlack : #4d4d4d;
  --avenirFont : 'Avenir-book Avenir'
  } 

body{
  font-family: var(--LatoFont) !important;
  /* background: var(--lightGreen) !important;
  color: var(--mainFont) !important;   */
}

.playfair {
  font-family: var(--PlayfairFont);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .demoabAnimation{
   /* animation: App-logo-spin infinite 20s linear;  */

 
  /* animation: 1s ease-out 0s 1 slideInFromLeft; */
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.toast-success-container {
  color: #000 !important;
  border-radius: 8px !important;
  background: #FFFFFF !important;
  background-color: white !important;
  border: 1px solid #ddd !important;
  box-shadow: 0px 1px 5px rgba(248, 175, 175, 0.1) !important;    
     
}

.toast-success-container-after {
  overflow: hidden;
  position: relative;
}

.toast-success-container-after::after{
  top: 0;
  left: 0;
  content: '';
  width: 7px;
  height: 100%;
  position: absolute;
  display: inline-block;
  /* background-color: #34A853; */
}

.toast-success-container svg{
 color:black 
}


.toast-error-container{
    color: #000 !important;
    border-radius: 8px !important;
    background: #ff0000 !important;
    background-color: #ff0018 !important;
    border: 1px solid #d25555 !important;
    box-shadow: 0px 1px 5px rgba(248, 175, 175, 0.1) !important;
} 

.toast-error-container-after{
 overflow: hidden;
  position: relative;
}

.toast-error-container-after::after{
   top: 0;
  left: 0;
  content: '';
  width: 7px;
  height: 100%;
  position: absolute;
  display: inline-block;
}

.toast-error-container svg{
 color:black 
}


.LangBtn {
  width: 60px;
    height: 25px;
    font-size: 12px !important;
    padding: 0px !important;

}