:root{
  --lightGreen:#DBFFDE;
  --mainGreen:#00B939;
  --darkGreen:#009A2F;
  --mainBlue:#3964D9;
  --mainBlack:#000000;
  --mainFont: #ffffff;
  --PlayfairFont: 'Playfair Display', serif;
  --LatoFont : 'lato', sans-serif ;
  --lightFont : #8e8e8e;
  --lightBlack : #4d4d4d;

  } 

body{
  font-family: var(--LatoFont) !important;
  /* background: var(--lightGreen) !important;
  color: var(--mainFont) !important;   */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
